.repeater-local-component-root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.repeater-local-component-text {
  width: 254px;
  height: fit-content;
  margin: 0px;
  padding: 0px;
}

.repeater-local-component-container {
  width: 100%;
  height: 309px;
  display: grid;
  position: relative;
  min-width: 500px;
  min-height: 200px;
  grid-template-columns: repeat(3,1fr);
}

.repeater-local-component-container2 {
  display: flex;
  min-height: 100%;
}

.repeater-local-component-container3 {
  display: flex;
  flex-direction: column;
}

.repeater-local-component-image {
  background: rgb(217, 217, 217);
  width: 100px;
  height: 100px;
}

.repeater-local-component-richtext {
  height: fit-content;
  margin: 0px;
  padding: 0px;
  min-width: 100px;
}

.repeater-local-component-text1 {
  height: fit-content;
  min-width: 100px;
}

@media (max-width: 1280px) {
  .repeater-local-component-text {
    width: 254px;
  }

  .repeater-local-component-container {
    height: 312px;
  }
}