.whitepaper-thumbnail21160 {
  border: 1px solid rgba(0, 0, 0, 1);
  background: rgba(0, 0, 102, 1);
  width: 1140px;
  height: 558px;
  display: flex;
  position: relative;
  flex-grow: 0;
  max-width: 1140px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.10196078568696976);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.text21161 {
  top: 1px;
  left: 2px;
  width: 570px;
  display: flex;
  padding: 80px;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}

.text {
  font: normal 500px 18px/28px Roboto;
  color: rgba(255, 255, 255, 1);
  width: 410px;
  height: auto;
  margin: 0 0 40px 0;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
}

.text1 {
  font: normal 400px 28px/36px Roboto;
  color: rgba(255, 255, 255, 1);
  width: 410px;
  height: auto;
  margin: 0 0 40px 0;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.link {
  display: contents;
}

.link1 {
  color: rgba(212, 202, 202, 1);
}

.button {
  border: 1px solid rgba(191, 64, 64, 255);
  background: white;
  color: rgba(0, 119, 181, 255);
  width: 100px;
  border: 1px solid black;
  height: 64px;
  display: flex;
  font-size: 0.8em;
  min-width: 120px;
  max-height: 100%;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  -webkit-user-drag: none;
}

.logos21164 {
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}

.clientlogoplaceholder21165 {
  width: 80px;
  height: 80px;
  margin: 0 24px 0 0;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}

.image {
  top: 8px;
  left: 8px;
  width: 64px;
  height: 64px;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 1;
  border-color: transparent;
}

.clientlogoplaceholder21166 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}

.image1 {
  top: 8px;
  left: 8px;
  width: 64px;
  height: 64px;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 1;
  border-color: transparent;
}

.iamge21167 {
  height: 558px;
  display: flex;
  padding: 80px;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}

.transparentimage21168 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.image2 {
  width: auto;
  height: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 1;
  border-color: transparent;
}

.csg-theme-button-button-121 {
  border: 1px solid rgba(191, 64, 64, 255);
  background: rgba(255, 211, 0, 255);
  color: rgba(0, 119, 181, 255);
  width: 100px;
  height: 75px;
  display: flex;
  font-size: 0.8em;
  min-width: 30px;
  max-height: 100%;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  -webkit-user-drag: none;
}