.course-module2581 {
  background: rgba(244, 246, 246, 1);
  display: flex;
  padding: 80px;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.10196078568696976);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}

.text-i258121717 {
  display: flex;
  padding: 116px;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.text {
  font: normal bold 28px/36px Roboto;
  color: rgba(34, 34, 34, 1);
  width: 748px;
  height: auto;
  margin: 0 0 40px 0;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.text1 {
  font: normal 300px 24px/32px Roboto;
  color: rgba(34, 34, 34, 1);
  width: 748px;
  height: auto;
  margin: 0 0 40px 0;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.loadmore-i258121722 {
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}