.container {
  width: 1512px;
  height: 1865px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.container01 {
  top: 14px;
  left: 764px;
  width: 734px;
  height: 608px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.container02 {
  top: 56px;
  left: 246px;
  width: 242px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.container03 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
  flex-direction: column;
}
.container04 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 5px;
  flex-direction: column;
}
.image {
  width: 141px;
  height: 54px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
}
.text {
  color: rgba(238, 238, 238, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text01 {
  color: rgba(134, 134, 139, 1);
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container05 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container06 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 31px;
  margin-bottom: 0;
}
.text02 {
  color: rgba(0, 102, 204, 1);
  width: 95px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container07 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container08 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image01 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container09 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.text03 {
  color: rgba(0, 102, 204, 1);
  width: 88px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container10 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container11 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image02 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.image03 {
  top: 208px;
  left: 138px;
  width: 459px;
  height: 400px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container12 {
  top: 636px;
  left: 764px;
  width: 734px;
  height: 608px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(251, 251, 253, 1);
}
.image04 {
  top: 180px;
  left: 158px;
  width: 418px;
  height: 404px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container13 {
  top: 40px;
  left: 247px;
  width: 242px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.container14 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
  flex-direction: column;
}
.container15 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 5px;
  flex-direction: column;
}
.image05 {
  width: 144px;
  height: 55px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
}
.text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text05 {
  color: rgba(134, 134, 139, 1);
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container16 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container17 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 31px;
  margin-bottom: 0;
}
.text06 {
  color: rgba(0, 102, 204, 1);
  width: 95px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container18 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container19 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image06 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container20 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.text07 {
  color: rgba(0, 102, 204, 1);
  width: 88px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container21 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container22 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image07 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container23 {
  top: 1258px;
  left: 764px;
  width: 734px;
  height: 608px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(251, 251, 253, 1);
}
.container24 {
  top: 56px;
  left: 227px;
  width: 281px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.container25 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
  flex-direction: column;
}
.container26 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.image08 {
  width: 108px;
  height: 34px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
}
.container27 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container28 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container29 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 31px;
  margin-bottom: 0;
}
.text10 {
  color: rgba(0, 102, 204, 1);
  width: 95px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container30 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container31 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image09 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container32 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.text11 {
  color: rgba(0, 102, 204, 1);
  width: 86px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container33 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container34 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image10 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.image11 {
  top: 264px;
  left: 161px;
  width: 481px;
  height: 338px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container35 {
  top: 14px;
  left: 14px;
  width: 734px;
  height: 608px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(251, 251, 253, 1);
}
.image12 {
  top: 244px;
  left: -18px;
  width: 771px;
  height: 364px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container36 {
  top: 56px;
  left: 246px;
  width: 242px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.container37 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
  flex-direction: column;
}
.container38 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 5px;
  flex-direction: column;
}
.image13 {
  width: 144px;
  height: 54px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
}
.text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text13 {
  color: rgba(134, 134, 139, 1);
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container39 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container40 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 31px;
  margin-bottom: 0;
}
.text14 {
  color: rgba(0, 102, 204, 1);
  width: 95px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container41 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container42 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image14 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container43 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.text15 {
  color: rgba(0, 102, 204, 1);
  width: 88px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container44 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container45 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image15 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container46 {
  top: 636px;
  left: 14px;
  width: 734px;
  height: 608px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(245, 245, 247, 1);
}
.image16 {
  top: 191px;
  left: 182px;
  width: 370px;
  height: 383px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container47 {
  top: 40px;
  left: 252px;
  width: 247px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.container48 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
  flex-direction: column;
}
.container49 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.image17 {
  width: 181px;
  height: 34px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
}
.container50 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container51 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container52 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 31px;
  margin-bottom: 0;
}
.text18 {
  color: rgba(0, 102, 204, 1);
  width: 95px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container53 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container54 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image18 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container55 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.text19 {
  color: rgba(0, 102, 204, 1);
  width: 80px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container56 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container57 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image19 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.text20 {
  top: 573px;
  left: 208px;
  color: rgba(134, 134, 139, 1);
  height: auto;
  position: absolute;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container58 {
  top: 1258px;
  left: 14px;
  width: 734px;
  height: 608px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(245, 245, 247, 1);
}
.container59 {
  top: 56px;
  left: 202px;
  width: 352px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.container60 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
  flex-direction: column;
}
.richtext {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 40px;
  align-self: auto;
  font-style: italic;
  margin-top: 0;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 700;
  line-height: normal;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.container61 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.text21 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container62 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container63 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.text23 {
  color: rgba(0, 102, 204, 1);
  width: 84px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container64 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container65 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image20 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.image21 {
  top: 248px;
  left: 195px;
  width: 345px;
  height: 356px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}

