.paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.image-default {
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  height: 200px;
  justify-content: center;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
}
.image-default,.root {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.root {
  width: 100%;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 560.6618472px;
  justify-content: center;
  max-width: 100%;
  width: 1040.920128px;
}
.container1 {
  display: flex;
  flex-direction: row;
}
.image {
  border-bottom-width: 1px;
  border-color: #36398fa0;
  border-left-width: 1px;
  border-radius: 8px;
  border-width: 23px;
  border-right-width: 1px;
  border-top-width: 1px;
  height: 146.24647199999998px;
  width: 896.380992px;
}
.image,.image1 {
  max-width: 100%;
}
.image1 {
  flex-basis: 50%;
  height: 298.56340800000004px;
  width: 405.9705600000001px;
}
.container2 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 957px;
}
.container2,.container3 {
  height: 304px;
  max-width: 100%;
}
.container3 {
  flex-basis: 50%;
  width: 183px;
}
.text {
  align-self: flex-end;
  border-bottom-width: 20px;
  border-color: #cc6c6cff;
  border-radius: 12px;
  border-style: solid;
  border-width: 20px;
  border-left-width: 20px;
  border-right-width: 20px;
  border-top-width: 20px;
  height: 152px;
  width: 384px;
}


