.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
}
.paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.root {
  width: 100%;
}
.root,.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container {
  height: 560.6618472px;
  width: 1040.920128px;
}
.container,.container1 {
  justify-content: center;
  max-width: 100%;
}
.container1 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.container2 {
  display: flex;
  flex-direction: column;
}
.container3 {
  flex-basis: 50%;
  height: 304.47316800000004px;
  max-width: 100%;
  width: 366.418944px;
}
.container4 {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.text {
  align-self: flex-end;
  height: 43.995312000000006px;
  width: 163.881216px;
}
.image {
  height: 146.24647199999998px;
  width: 896.380992px;
}
.image,.image1 {
  max-width: 100%;
}
.image1 {
  flex-basis: 50%;
  height: 298.56340800000004px;
  width: 405.9705600000001px;
}
@media(max-width: 991px) {
  .root {
    height: 466px;
    width: 931px;
  }
  .container {
    height: 422px;
    width: 767px;
  }
  .container4 {
    height: 224px;
    width: 801px;
  }
}
@media(max-width: 576px) {
  .container1 {
    align-items: center;
    flex-direction: column;
  }
  .container1,.container3,.image,.image1 {
    flex-basis: auto;
    max-width: 100%;
  }
}
