.header-default {
  color: #0C0C0C;
  font-size: 30px;
  font-weight: normal;
  min-width: 140px;
  text-align: left;
}
.header-default,.paragraph-default {
  font-family: Arial;
  height: fit-content;
}
.paragraph-default {
  font-size: 14px;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.container-default {
  background-color: #ffffff;
  color: #a0a0a0;
  display: flex;
  flex: 0 0 auto;
  height: 200px;
  min-height: 200px;
  min-width: 300px;
  padding: 10px;
  width: auto;
}
.root {
  height: 400px;
  width: 100%;
}
.root,.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: center;
  left: 218px;
  overflow: hidden;
  padding: 10px 24px;
  position: absolute;
  top: 183px;
  width: 172px;
}
.container1,.text {
  align-self: auto;
  color: rgba(255, 255, 255, 1);
  flex-grow: 0;
  font-family: Open Sans;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
.container2,.container3 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: 100px;
  width: 100%;
}
.text1 {
  height: 21px;
  width: 498px;
}
