.root {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
}
.text,.text1 {
  align-self: stretch;
  color: rgba(255, 255, 255, 1);
  flex-grow: 0;
  font-stretch: normal;
  font-style: normal;
  height: auto;
  margin: 0 0 80px;
  text-align: left;
  text-decoration: none;
  width: 580px;
}
.text1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

