.paragraph-default {
  font-size: 14px;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.paragraph-default,.header-default {
  font-family: Arial;
  height: fit-content;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.header-default {
  color: #0C0C0C;
  font-size: 30px;
  font-weight: normal;
  min-width: 140px;
  text-align: left;
}
.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  flex-direction: column;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  min-width: 200px;
  overflow: hidden;
}
.image-default,.container-default {
  display: flex;
  height: 200px;
  min-height: 200px;
}
.container-default {
  background-color: #ffffff;
  color: #a0a0a0;
  flex: 0 0 auto;
  min-width: 300px;
  padding: 10px;
  width: auto;
}
.root {
  flex-direction: row;
  height: 634px;
}
.root,.container {
  display: flex;
  width: 100%;
}
.container {
  align-items: center;
  flex: 0 0 auto;
  flex-direction: row;
  height: 100px;
}
.image {
  height: 135px;
  width: 169px;
}
.container1 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100px;
  width: 200px;
}

@media(max-width: 1024px) {
  .root {
    align-self: stretch;
    display: flex;
    height: 633px;
  }
  .container {
    background-color: rgba(167, 2, 52, 1);
    display: flex;
    justify-content: space-between;
  }
  .image {
    height: 134px;
    width: 169px;
  }
}
