.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  max-height: 100%;
  overflow: hidden;
  width: auto;
}
.paragraph-default {
  color: rgba(51, 51, 51, 255);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 1.55;
  width: auto;
}
.root {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  height: 353px;
  min-height: 200px;
  min-width: 500px;
  padding: 5px;
  position: relative;
  width: 100%;
}
.container1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.text1 {
  height: 56px;
  width: 313px;
}
.image {
  height: 136px;
  width: 177px;
}
@media(max-width: 1280px) {
  .root {
    align-self: stretch;
    display: flex;
    width: 100%;
  }
  .container {
    height: 352px;
  }
  .text1 {
    height: 56px;
    width: 312px;
  }
  .image {
    height: 136px;
    width: 176px;
  }
}
