.root {
  display: flex;
  flex-direction: row;
  height: 824px;
  justify-content: center;
  width: 889px;
}
@media(max-width: 1280px) {
  .root {
    align-self: stretch;
    display: flex;
    height: 825px;
    width: 100%;
  }
}
