.button-default {
  font: 0.8em Open Sans;
  background: rgba(226, 89, 71, 255);
  padding: 7px 40px;
  color: rgba(255, 255, 255, 255);
  display: flex;
  min-width: 30px;
  min-height: 24px;
  align-items: center;
  border-style: none;
  border-radius: 0px;
  flex-direction: column;
  justify-content: center;
}

.paragraph-paragraph-296 {
  border: 0px none rgb(187, 187, 187);
  background: #FFFFFF00;
  width: 100px;
  height: 75px;
  display: flex;
  overflow: hidden;
  font-size: 0.8em;
  min-width: 30px;
  max-height: 100%;
  align-items: left;
  padding-left: 3px;
  border-radius: 5px;
  flex-direction: column;
  -webkit-user-drag: none;
}

.header-default {
  font: 500 45px/1.22 Open Sans;
  color: rgba(226, 89, 71, 255);
  min-width: 30px;
}

.container-default {
  display: flex;
}

.image-default {
  background: #d9d9d9;
  width: 100px;
  height: 75px;
  display: flex;
  overflow: hidden;
  min-width: 30px;
  max-height: 100%;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  background: #d9d9d9;
  width: 434.17839564304467px;
  border: 1px solid #666666;
  height: 410.49042999999995px;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  min-width: 30px;
  flex-basis: 50%;
  max-height: 100%;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
}

.container1 {
  display: flex;
  max-width: 50%;
  flex-basis: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text1 {
  width: 197px;
}

@media (max-width: 1280px) {
  .text1 {
    width: 197px;
    margin-bottom: 50px;
  }
}

@media (max-width: 640px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .image {
    max-width: 100%;
    flex-basis: auto;
  }

  .container1 {
    max-width: 100%;
    flex-basis: auto;
  }
}