.root {
  align-items: center;
  flex-direction: column;
}
.root,.container {
  display: flex;
  width: 100%;
}
.container {
  background-color: rgba(242, 248, 252, 1);
  gap: 64px;
  height: auto;
  padding: 80px 103px;
}
.container,.container1 {
  align-items: flex-start;
}
.container1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text {
  color: rgba(65, 83, 93, 1);
  font-family: Helvetica Neue LT Std;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300px;
  height: auto;
  line-height: 48px;
  text-align: left;
  width: 244px;
}
.container2 {
  align-items: center;
  background-color: rgba(0, 124, 195, 1);
  border-radius: 2px;
  display: flex;
  flex-shrink: 0;
  height: 52px;
  padding: 16px 24px 12px;
}
.text1 {
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica Neue LT Std;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700px;
  height: auto;
  line-height: 24px;
  text-align: left;
}
.container3 {
  align-items: flex-start;
  flex-direction: column;
}
.container3,.container4 {
  display: flex;
  gap: 32px;
}
.container4 {
  align-items: center;
  flex-shrink: 0;
  width: 686px;
}
.text2 {
  color: rgba(65, 83, 93, 1);
  flex-grow: 1;
  font-family: Helvetica Neue LT Std;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700px;
  height: auto;
  line-height: 28px;
  text-align: left;
}
.image {
  height: 32px;
  width: 32px;
}
.container5 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 32px;
  width: 686px;
}
.text3 {
  color: rgba(65, 83, 93, 1);
  flex-grow: 1;
  font-family: Helvetica Neue LT Std;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700px;
  height: auto;
  line-height: 28px;
  text-align: left;
}
.image1 {
  height: 32px;
  width: 32px;
}
.container6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0 8px;
}
.container7 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 32px;
  width: 686px;
}
.text4 {
  color: rgba(65, 83, 93, 1);
  flex-grow: 1;
  font-family: Helvetica Neue LT Std;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700px;
  height: auto;
  line-height: 28px;
  text-align: left;
}
.image2 {
  height: 32px;
  width: 32px;
}
.text5 {
  color: rgba(65, 83, 93, 1);
  font-family: Helvetica Neue LT Std;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400px;
  height: auto;
  line-height: 26px;
  text-align: left;
  width: 686px;
}
.container8 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 32px;
  width: 686px;
}
.text6 {
  color: rgba(65, 83, 93, 1);
  flex-grow: 1;
  font-family: Helvetica Neue LT Std;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700px;
  height: auto;
  line-height: 28px;
  text-align: left;
}
.image3 {
  height: 32px;
  width: 32px;
}
