.container {
  width: 1200px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.container01 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  padding-top: 0;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  padding-bottom: 64px;
}
.image {
  width: 1200px;
  height: 1px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24px;
}
.container02 {
  width: 1200px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.text {
  color: rgba(65, 83, 93, 1);
  width: 995px;
  height: auto;
  flex-grow: 0;
  font-size: 44px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Helvetica Neue LT Std;
  font-weight: 700;
  line-height: 52px;
  font-stretch: normal;
  text-decoration: none;
}
.button {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: flex-end;
}
.button1 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 16px;
  margin-bottom: 0;
}
.image01 {
  width: 40px;
  height: 40px;
  position: absolute;
}
.image02 {
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.button2 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.image03 {
  width: 40px;
  height: 40px;
  position: absolute;
}
.image04 {
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container06 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container07 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 32px;
  margin-bottom: 0;
}
.image05 {
  width: 276px;
  height: 396px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 32px;
  margin-bottom: 0;
}
.container08 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.image06 {
  width: 276px;
  height: 1px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24px;
}
.container09 {
  height: 348px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: space-between;
}
.container10 {
  width: 276px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.text1 {
  color: rgba(65, 83, 93, 1);
  width: 276px;
  height: auto;
  flex-grow: 0;
  font-size: 32px;
  align-self: stretch;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: Helvetica Neue LT Std;
  font-weight: 300;
  line-height: 40px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.text2 {
  color: rgba(65, 83, 93, 1);
  width: 276px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Helvetica Neue LT Std;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.container11 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 4px;
}
.text3 {
  color: rgba(65, 83, 93, 1);
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: Helvetica Neue LT Std;
  font-weight: 700;
  line-height: 26px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.image07 {
  width: 12px;
  height: 12px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.image08 {
  width: 276px;
  height: 1px;
}
.container12 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image09 {
  width: 276px;
  height: 396px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 32px;
  margin-bottom: 0;
}
.container13 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.image10 {
  width: 276px;
  height: 1px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24px;
}
.container14 {
  height: 348px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: space-between;
}
.container15 {
  width: 276px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.text4 {
  color: rgba(65, 83, 93, 1);
  width: 276px;
  height: auto;
  flex-grow: 0;
  font-size: 32px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Helvetica Neue LT Std;
  font-weight: 300;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.container16 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 4px;
}
.text5 {
  color: rgba(65, 83, 93, 1);
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: Helvetica Neue LT Std;
  font-weight: 700;
  line-height: 26px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.image11 {
  width: 12px;
  height: 12px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.image12 {
  width: 276px;
  height: 1px;
}
