.container-default {
  background-color: #ffffff;
  color: #a0a0a0;
  display: flex;
  flex: 0 0 auto;
  height: 200px;
  min-height: 200px;
  min-width: 300px;
  padding: 10px;
  width: auto;
}
.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 7431.56px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration-color: rgb(33, 37, 41);
  width: 506.388px;
  z-index: 1;
}
.container01 {
  height: 481.987px;
  margin-inline-start: 165px;
  margin-left: 165px;
  padding-bottom: 16px;
  padding-top: 104px;
  position: sticky;
  top: 0px;
}
.container01,.container02 {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 24px;
  text-align: left;
  text-decoration-color: rgb(33, 37, 41);
  width: 341.388px;
}
.container02 {
  height: 337.987px;
}
.container03 {
  padding-left: 16px;
  padding-right: 16px;
  width: 341.388px;
}
.container03,.container04 {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 337.987px;
  line-height: 24px;
  text-align: left;
  text-decoration-color: rgb(33, 37, 41);
}
.container04 {
  width: 309.388px;
}
.container05 {
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 337.987px;
  line-height: 24px;
  margin-block-end: 24px;
  margin-block-start: 0px;
  margin-bottom: 24px;
  margin-top: 0px;
  padding-left: 0px;
  text-align: left;
  text-decoration-color: rgb(33, 37, 41);
}
.container05,.container06 {
  box-sizing: border-box;
  list-style: outside none none;
  list-style-type: none;
  width: 309.388px;
}
.container06 {
  border-color: rgb(0, 110, 170);
  border-left: 4px solid;
  border-width: 0px 0px 0px 4px;
  color: rgb(0, 110, 170);
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 27.7125px;
  line-height: 27.72px;
  margin-block-end: 24px;
  margin-bottom: 24px;
  text-decoration-color: rgb(0, 110, 170);
}
.richtext {
  color: rgb(0, 110, 170);
  display: block;
  margin-inline-start: 8px;
  margin-left: 8px;
  text-align: left;
  text-decoration-color: transparent;
  text-decoration-line: none;
  width: 297.388px;
}
.richtext,.container07 {
  box-sizing: border-box;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 27.7125px;
  line-height: 27.72px;
  list-style: outside none none;
  list-style-type: none;
}
.container07 {
  border-color: rgba(0, 0, 0, 0);
  border-left: 4px solid;
  border-width: 0px 0px 0px 4px;
  color: rgb(76, 76, 76);
  margin-block-end: 24px;
  margin-bottom: 24px;
  text-decoration-color: rgb(76, 76, 76);
  width: 309.388px;
}
.richtext1 {
  display: block;
  margin-inline-start: 8px;
  margin-left: 8px;
  text-align: left;
  text-decoration-color: transparent;
  text-decoration-line: none;
  width: 297.388px;
}
.richtext1,.container08 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 27.7125px;
  line-height: 27.72px;
  list-style: outside none none;
  list-style-type: none;
}
.container08 {
  border-color: rgba(0, 0, 0, 0);
  border-left: 4px solid;
  border-width: 0px 0px 0px 4px;
  margin-block-end: 24px;
  margin-bottom: 24px;
  text-decoration-color: rgb(76, 76, 76);
  width: 309.388px;
}
.richtext2 {
  display: block;
  margin-inline-start: 8px;
  margin-left: 8px;
  text-align: left;
  text-decoration-color: transparent;
  text-decoration-line: none;
  width: 297.388px;
}
.richtext2,.container09 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 27.7125px;
  line-height: 27.72px;
  list-style: outside none none;
  list-style-type: none;
}
.container09 {
  border-color: rgba(0, 0, 0, 0);
  border-left: 4px solid;
  border-width: 0px 0px 0px 4px;
  margin-block-end: 24px;
  margin-bottom: 24px;
  text-decoration-color: rgb(76, 76, 76);
  width: 309.388px;
}
.richtext3 {
  display: block;
  margin-inline-start: 8px;
  margin-left: 8px;
  text-align: left;
  text-decoration-color: transparent;
  text-decoration-line: none;
  width: 297.388px;
}
.richtext3,.container10 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 27.7125px;
  line-height: 27.72px;
  list-style: outside none none;
  list-style-type: none;
}
.container10 {
  border-color: rgba(0, 0, 0, 0);
  border-left: 4px solid;
  border-width: 0px 0px 0px 4px;
  margin-block-end: 24px;
  margin-bottom: 24px;
  text-decoration-color: rgb(76, 76, 76);
  width: 309.388px;
}
.richtext4 {
  display: block;
  margin-inline-start: 8px;
  margin-left: 8px;
  text-align: left;
  text-decoration-color: transparent;
  text-decoration-line: none;
  width: 297.388px;
}
.richtext4,.container11 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 27.7125px;
  line-height: 27.72px;
  list-style: outside none none;
  list-style-type: none;
}
.container11 {
  border-color: rgba(0, 0, 0, 0);
  border-left: 4px solid;
  border-width: 0px 0px 0px 4px;
  margin-block-end: 24px;
  margin-bottom: 24px;
  text-decoration-color: rgb(76, 76, 76);
  width: 309.388px;
}
.richtext5 {
  display: block;
  margin-inline-start: 8px;
  margin-left: 8px;
  text-align: left;
  text-decoration-color: transparent;
  text-decoration-line: none;
  width: 297.388px;
}
.richtext5,.container12 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 27.7125px;
  line-height: 27.72px;
  list-style: outside none none;
  list-style-type: none;
}
.container12 {
  border-color: rgba(0, 0, 0, 0);
  border-left: 4px solid;
  border-width: 0px 0px 0px 4px;
  text-decoration-color: rgb(76, 76, 76);
  width: 309.388px;
}
.richtext6 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  display: block;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 27.7125px;
  line-height: 27.72px;
  list-style: outside none none;
  list-style-type: none;
  margin-inline-start: 8px;
  margin-left: 8px;
  text-align: left;
  text-decoration-color: transparent;
  text-decoration-line: none;
  width: 297.388px;
}
.button {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-width: 0px;
  cursor: pointer;
  display: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  height: auto;
  line-height: 18.4px;
  padding: 18px 16px 12px;
  width: 100%;
}
.container14 {
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27.72px;
  padding-right: 8px;
}
.container14,.container15 {
  box-sizing: border-box;
  cursor: pointer;
  height: auto;
  text-align: center;
  width: auto;
}
.container15 {
  color: rgb(0, 110, 170);
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration-color: rgb(0, 110, 170);
}
.icon {
  fill: none;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  width: 24px;
}
.icon,.path {
  box-sizing: border-box;
  color: rgb(0, 110, 170);
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  text-decoration-color: rgb(0, 110, 170);
}
.path {
  fill: rgb(0, 110, 170);
}
.path1 {
  fill: rgb(0, 110, 170);
}
.path1,.path2 {
  box-sizing: border-box;
  color: rgb(0, 110, 170);
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  text-decoration-color: rgb(0, 110, 170);
}
.path2 {
  fill: rgb(255, 255, 255);
  height: 16px;
  width: 9.6px;
}
