.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  background-color: rgb(255, 255, 255);
  height: 1060.69px;
  padding: 64px 127.345px;
  position: relative;
}
.container,.container1 {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  justify-content: flex-end;
  line-height: 24px;
  text-align: left;
  text-decoration-color: rgb(33, 37, 41);
}
.container1 {
  height: 932.688px;
}
.container1,.container2 {
  align-items: flex-start;
  flex-direction: column;
  width: 843.013px;
}
.container2 {
  color: rgb(0, 0, 0);
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 95.8375px;
  line-height: 24px;
  padding-bottom: 24px;
  text-align: left;
  text-decoration-color: rgb(0, 0, 0);
}
.container2,.richtext {
  box-sizing: border-box;
}
.richtext {
  font-family: mencken-std-head, sans-serif;
  font-size: 32px;
  font-weight: 400;
  height: 43.8375px;
  line-height: 43.84px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  overflow: hidden;
  text-align: left;
  width: 204.3px;
}
.container3 {
  background-color: rgb(230, 230, 230);
  height: 4px;
  margin-block-start: 24px;
  margin-top: 24px;
  width: 80px;
}
.container3,.container4 {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 24px;
  text-align: left;
}
.container4 {
  color: rgb(33, 37, 41);
  height: 836.85px;
  text-decoration-color: rgb(33, 37, 41);
  width: 843.013px;
}
.container5 {
  height: 836.85px;
  padding-bottom: 24px;
}
.container5,.container6 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  line-height: 31.86px;
  text-align: left;
  text-decoration-color: rgb(76, 76, 76);
  width: 843.013px;
}
.container6 {
  height: 812.85px;
}
.container7 {
  height: 812.85px;
}
.container7,.text01 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  line-height: 31.86px;
  text-align: left;
  text-decoration-color: rgb(76, 76, 76);
  width: 843.013px;
}
.text01 {
  display: block;
  height: 16px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 16px;
}
.text03,.text05,.text07 {
  height: 79.7px;
}
.text03,.text05,.text07,.text09 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  display: block;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  line-height: 31.86px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 16px;
  text-align: left;
  text-decoration-color: rgb(76, 76, 76);
  width: 843.013px;
}
.text09 {
  height: 111.55px;
}
.text11 {
  height: 79.7px;
}
.text11,.text13 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  display: block;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  line-height: 31.86px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 16px;
  text-align: left;
  text-decoration-color: rgb(76, 76, 76);
  width: 843.013px;
}
.text13 {
  height: 143.4px;
}
.text15,.text17 {
  box-sizing: border-box;
  color: rgb(76, 76, 76);
  display: block;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  height: 79.7px;
  line-height: 31.86px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 16px;
  text-align: left;
  text-decoration-color: rgb(76, 76, 76);
  width: 843.013px;
}
