.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  align-items: center;
  background-color: rgba(249, 244, 227, 1);
  max-width: 1440px;
  width: 1440px;
}
.container,.container01 {
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 952px;
  overflow: hidden;
  position: relative;
}
.container01 {
  align-items: flex-start;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px 0 136px;
}
.container02,.container03 {
  align-items: flex-start;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  position: relative;
}
.container03,.text {
  margin: 0 0 40px;
}
.text {
  align-self: auto;
  color: rgba(87, 87, 87, 1);
  flex-grow: 0;
  font-family: Helvetica Neue;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  height: auto;
  line-height: 120.00000476837158%;
  text-align: left;
  text-decoration: none;
  width: 437px;
}
.container04 {
  align-items: flex-start;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  position: relative;
}
.text1 {
  color: rgba(79, 85, 42, 1);
  font-family: P22 Mackinac Pro;
  font-size: 40px;
  font-weight: 500;
  line-height: 120.00000476837158%;
  margin: 0 0 16px;
}
.text1,.text2 {
  align-self: auto;
  flex-grow: 0;
  font-stretch: normal;
  font-style: normal;
  height: auto;
  text-align: left;
  text-decoration: none;
  width: 437px;
}
.text2 {
  color: rgba(87, 87, 87, 1);
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  line-height: 163.99999856948853%;
}
.container05 {
  align-items: flex-start;
}
.container05,.container06 {
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  position: relative;
}
.container06 {
  align-items: center;
  background-color: rgba(77, 73, 52, 1);
  border-radius: 100px;
  justify-content: center;
  margin: 0 16px 0 0;
  padding: 13px 24px;
}
.text3 {
  align-self: auto;
  color: rgba(255, 255, 255, 1);
  flex-grow: 0;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}
.container07 {
  align-items: center;
  border: 1.5px solid rgba(77, 73, 52, 1);
  border-radius: 100px;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: center;
  padding: 13px 24px;
  position: relative;
}
.text4 {
  align-self: auto;
  color: rgba(77, 73, 52, 1);
  flex-grow: 0;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}
.container08 {
  align-self: stretch;
  flex-shrink: 1;
  padding: 120px 80px 120px 64px;
}
.container08,.container09 {
  align-items: flex-start;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  overflow: hidden;
  position: relative;
}
.container09 {
  height: 712px;
  width: 576px;
}
.container09,.image {
  border-radius: 8px;
  flex-shrink: 0;
}
.image {
  border-color: transparent;
  box-sizing: border-box;
  flex-grow: 0;
  height: 718px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 603px;
}
