.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.image {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 577.025px;
  line-height: 24px;
  object-fit: cover;
  text-align: left;
  text-decoration-color: rgb(255, 255, 255);
  vertical-align: middle;
  width: 759.6px;
}
