.button-default {
  background-color: #eeeeee;
  border-color: #a0a0a0;
  border-radius: 3px;
  border-width: 1px;
  font-size: 0.8em;
  height: fit-content;
  min-height: 24px;
  min-width: 130px;
  padding: 10px 35px;
}
.button-default,.image-default {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-default {
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
}
.paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.root {
  width: 100%;
}
.root,.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container,.container1 {
  justify-content: space-between;
  max-width: 100%;
}
.container1 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.container2 {
  flex-basis: 33%;
  max-width: 33%;
}
.container2,.container3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container3,.text {
  max-width: 100%;
}
.text {
  height: 58.3389446px;
  width: 224.63405999999992px;
}
.image {
  height: 253.02140000000003px;
  width: 278.95312799999994px;
}
.image,.text1 {
  max-width: 100%;
}
.text1 {
  height: 83.29531199999998px;
  width: 227.83698000000004px;
}
.container4 {
  flex-basis: 33%;
  max-width: 33%;
}
.container4,.container5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container5,.text2 {
  max-width: 100%;
}
.text2 {
  height: 48.1029028px;
  width: 213.471828px;
}
.image1 {
  height: 258.646459px;
  width: 243.06033599999998px;
}
.image1,.text3 {
  max-width: 100%;
}
.text3 {
  height: 89.311766px;
  width: 211.516596px;
}
.container6 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.button {
  height: 68.87368399999998px;
  width: 266.30829px;
}
.button,.button1 {
  flex-basis: 33%;
  max-width: 100%;
}
.button1 {
  height: 86.868708px;
  width: 277.49116799999996px;
}
.button2 {
  flex-basis: 33%;
  height: 94.22962399999999px;
  max-width: 100%;
  width: 236.58753600000009px;
}
.container7 {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 33%;
}
.text4 {
  align-self: flex-start;
  height: 56.25345216px;
  width: 185.0909436px;
}
.text4,.image2 {
  max-width: 100%;
}
.image2 {
  height: 263.658736px;
  width: 303.2061516px;
}
.text5 {
  height: 90.80363999999996px;
  max-width: 100%;
  width: 226.8457488px;
}

@media(max-width: 1068px) {
  .root {
    height: 873px;
    width: 870px;
  }
  .container3 {
    height: 224px;
    width: 715px;
  }
  .container5 {
    height: 224px;
    width: 638px;
  }
}
@media(max-width: 991px) {
  .root {
    height: 816px;
    width: 708px;
  }
  .container4 {
    height: 296px;
    width: 627px;
  }
  .button2 {
    height: 33px;
    width: 600px;
  }
  .container7 {
    height: 274px;
    width: 616px;
  }
  .root-class-name {
    height: 858px;
    width: 708px;
  }
}
@media(max-width: 576px) {
  .container1 {
    align-items: center;
    flex-direction: column;
  }
  .container1,.container2,.container3,.text,.image,.text1,.container4,.container5,.text2,.image1,.text3,.container6 {
    flex-basis: auto;
    max-width: 100%;
  }
  .container6 {
    align-items: center;
    flex-direction: column;
  }
  .button,.button1,.button2,.container7,.text4,.image2,.text5 {
    flex-basis: auto;
    max-width: 100%;
  }
}
