.radiobutton-default {
  min-height: 25px;
  min-width: 25px;
}
.radiobutton-default,.button-default {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
}
.button-default {
  background-color: #eeeeee;
  border-color: #a0a0a0;
  border-radius: 3px;
  border-width: 1px;
  font-size: 0.8em;
  min-height: 24px;
  min-width: 130px;
  padding: 10px 35px;
}
.label-default {
  color: #0C0C0C;
  font-family: SF Pro Text;
  font-size: 52px;
  font-weight: bold;
  height: fit-content;
  margin-top: 30px;
  min-width: 140px;
  text-align: left;
}
.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
}
.paragraph-default {
  color: #0C0C0C;
  font-family: SF Pro Text;
  font-size: 32px;
  font-weight: normal;
  height: fit-content;
  margin-top: 30px;
  min-width: 140px;
  text-align: left;
}
.root {
  width: 100%;
}
.root,.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container,.container1 {
  justify-content: space-between;
  max-width: 100%;
}
.container1 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.container2 {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 33%;
}
.text {
  align-self: flex-start;
  height: 56.25345216px;
  width: 185.0909436px;
}
.text,.image {
  max-width: 100%;
}
.image {
  height: 263.658736px;
  width: 303.2061516px;
}
.text1 {
  height: 90.80363999999996px;
  max-width: 100%;
  width: 226.8457488px;
}
.container3 {
  flex-basis: 33%;
  max-width: 33%;
}
.container3,.container4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container4,.text2 {
  max-width: 100%;
}
.text2 {
  height: 58.3389446px;
  width: 224.63405999999992px;
}
.image1 {
  height: 253.02140000000003px;
  width: 278.95312799999994px;
}
.image1,.text3 {
  max-width: 100%;
}
.text3 {
  height: 83.29531199999998px;
  width: 227.83698000000004px;
}
.container5 {
  flex-basis: 33%;
  max-width: 33%;
}
.container5,.container6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container6,.text4 {
  max-width: 100%;
}
.text4 {
  height: 48.1029028px;
  width: 213.471828px;
}
.image2 {
  height: 258.646459px;
  max-width: 100%;
  width: 243.06033599999998px;
}
.container7 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.button1 {
  height: 68.87368399999998px;
  width: 266.30829px;
}
.button1,.button2 {
  flex-basis: 33%;
  max-width: 100%;
}
.button2 {
  height: 86.868708px;
  width: 277.49116799999996px;
}
.button3 {
  flex-basis: 33%;
  height: 94.22962399999999px;
  max-width: 100%;
  width: 236.58753600000009px;
}
.root-class-name {
  height: 815px;
}

