.button-default {
  font-size: 0.8em;
  min-height: 24px;
}
.button-default,.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 30px;
}
.image-default {
  height: 75px;
  max-height: 100%;
  overflow: hidden;
  width: 100px;
}
.paragraph-default {
  font-size: 0.8em;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.container-default {
  display: flex;
}
.container {
  align-items: center;
  flex-direction: column;
}
.container,.container1 {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.container1 {
  align-items: flex-start;
  flex-direction: row;
}
.container2,.container3 {
  display: flex;
  flex-direction: column;
}
.container3 {
  align-items: center;
  flex-basis: 33%;
  height: 346px;
  justify-content: space-between;
  max-width: 33%;
  width: 286px;
}
.text {
  align-self: flex-start;
  height: 56.25345216px;
  width: 185.0909436px;
}
.text,.image {
  max-width: 100%;
}
.image {
  height: 124px;
  width: 251px;
}
.text1 {
  height: 90.80363999999996px;
  max-width: 100%;
  width: 253px;
}
.container4 {
  flex-basis: 33%;
  max-width: 33%;
}
.container4,.container5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container5,.text2 {
  max-width: 100%;
}
.text2 {
  height: 58.3389446px;
  width: 224.63405999999992px;
}
.text3 {
  height: 48.1029028px;
  width: 213.471828px;
}
.text3,.image1 {
  max-width: 100%;
}
.image1 {
  height: 273px;
  width: 290px;
}
.text4 {
  height: 83.29531199999998px;
  max-width: 100%;
  width: 227.83698000000004px;
}
.container6 {
  flex-basis: 33%;
  max-width: 33%;
}
.container6,.container7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container7,.image2 {
  max-width: 100%;
}
.image2 {
  height: 258.646459px;
  width: 243.06033599999998px;
}
.text5 {
  height: 89.311766px;
  max-width: 100%;
  width: 211.516596px;
}
.container8 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.button {
  height: 68.87368399999998px;
  width: 266.30829px;
}
.button,.button1 {
  flex-basis: 33%;
  max-width: 100%;
}
.button1 {
  height: 86.868708px;
  width: 277.49116799999996px;
}
.button2 {
  flex-basis: 33%;
  height: 94.22962399999999px;
  max-width: 100%;
  width: 236.58753600000009px;
}
@media(max-width: 640px) {
  .container1 {
    align-items: center;
    flex-direction: column;
  }
  .container1,.container3,.text,.image,.text1,.container4,.container5,.text2,.text3,.image1,.text4,.container6,.container7,.image2,.text5,.container8 {
    flex-basis: auto;
    max-width: 100%;
  }
  .container8 {
    align-items: center;
    flex-direction: column;
  }
  .button,.button1,.button2 {
    flex-basis: auto;
    max-width: 100%;
  }
}
