.paragraph-default {
  background-color: rgba(255, 255, 255, 1);
  border-style: solid;
  color: rgba(70, 70, 70, 255);
  font-family: Arial;
  font-size: 0.8em;
  margin: 20px 10px;
  max-height: 100px;
  overflow: hidden;
}
.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border: 1px solid #666666;
  border-radius: 3px;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  max-height: 100%;
  min-width: 30px;
  overflow: hidden;
  width: 100px;
}
.image-default,.container-default {
  display: flex;
}
.container {
  align-items: flex-start;
  flex-direction: row;
  height: 566.4000815999999px;
  max-width: 100%;
  width: 1064.4253056px;
}
.container,.container1 {
  display: flex;
  justify-content: center;
}
.container1 {
  align-items: center;
  flex-basis: 33%;
  flex-direction: column;
  max-width: 33%;
}
.image {
  height: 288.490896px;
  width: 304.8771456px;
}
.image,.text {
  max-width: 100%;
}
.text {
  height: 77.31806399999995px;
  width: 229.24799999999993px;
}
.text1 {
  height: 41.589936000000044px;
  max-width: 100%;
  width: 174.72384px;
}
.container2 {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: center;
  max-width: 33%;
}
.image1 {
  height: 285.858072px;
  width: 308.70950400000004px;
}
.image1,.text2 {
  max-width: 100%;
}
.text2 {
  height: 77.044608px;
  width: 303px;
}
.text3 {
  height: 88px;
  max-width: 100%;
  width: 290px;
}
.container3 {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: center;
  max-width: 33%;
}
.image2 {
  height: 335.93680800000004px;
  width: 210.40243200000006px;
}
.image2,.text4 {
  max-width: 100%;
}
.text4 {
  height: 78.40475999999998px;
  width: 197.849088px;
}
.text5 {
  height: 30.164399999999986px;
  max-width: 100%;
  width: 130.741632px;
}

@media(max-width: 640px) {
  .container {
    align-items: center;
    flex-direction: column;
  }
  .container1,.image,.text,.text1,.container2,.image1,.text2,.text3,.container3,.image2,.text4,.text5 {
    flex-basis: auto;
    max-width: 100%;
  }
}
