.button-default {
  font-size: 0.8em;
  min-height: 24px;
}
.button-default,.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 30px;
}
.image-default {
  height: 75px;
  max-height: 100%;
  overflow: hidden;
  width: 100px;
}
.container-default {
  display: flex;
}
.paragraph-default {
  font-size: 0.8em;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}
.text {
  align-self: flex-start;
  height: 77.63850648px;
  max-width: 100%;
  width: 332.4943872px;
}
.container1 {
  align-items: flex-start;
  flex-direction: row;
  max-width: 100%;
}
.container1,.container2 {
  display: flex;
  justify-content: space-between;
}
.container2 {
  align-items: center;
  flex-basis: 33%;
  flex-direction: column;
  max-width: 33%;
}
.image {
  height: 287.17869599999995px;
  width: 286.54202879999997px;
}
.image,.text1 {
  max-width: 100%;
}
.text1 {
  height: 55.048248px;
  width: 214.50239999999997px;
}
.button {
  height: 123.32412000000001px;
  max-width: 100%;
  width: 291.9234816px;
}
.container3 {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 33%;
}
.image1 {
  height: 327.11623199999997px;
  width: 327.78777599999995px;
}
.image1,.text2 {
  max-width: 100%;
}
.text2 {
  height: 45.160415999999984px;
  width: 247.062528px;
}
.button1 {
  height: 128.60402400000004px;
  max-width: 100%;
  width: 337.44614400000006px;
}
.container4 {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 33%;
}
.image2 {
  height: 331.5978px;
  width: 294.3083519999999px;
}
.image2,.text3 {
  max-width: 100%;
}
.text3 {
  height: 43.1568px;
  width: 269.34796800000004px;
}
.button2 {
  height: 115.595424px;
  max-width: 100%;
  width: 324.761472px;
}
@media(max-width: 640px) {
  .text,.container1 {
    flex-basis: auto;
    max-width: 100%;
  }
  .container1 {
    align-items: center;
    flex-direction: column;
  }
  .container2,.image,.text1,.button,.container3,.image1,.text2,.button1,.container4,.image2,.text3,.button2 {
    flex-basis: auto;
    max-width: 100%;
  }
}
