.root {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-start;
  width: 100%;
}
.root,.text {
  align-self: flex-start;
}
.text {
  color: rgba(27, 75, 110, 1);
  font-size: 4em;
  font-weight: 700;
  height: fit-content;
  min-width: 100px;
  padding: 20px 50px 45px;
  text-align: left;
}

@media(max-width: 1024px) {
  .text {
    font-size: 42px;
    padding: 20px 40px 45px;
  }
}
