.three-column-test-container {
  width: 1064.4253056px;
  height: 566.4000815999999px;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.three-column-test-container1 {
  display: flex;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.three-column-test-image {
  width: 304.8771456px;
  height: 288.490896px;
  max-width: 100%;
}

.three-column-test-text {
  width: 229.24799999999993px;
  height: 77.31806399999995px;
  max-width: 100%;
}

.three-column-test-text1 {
  width: 174.72384px;
  height: 41.589936000000044px;
  max-width: 100%;
}

.three-column-test-container2 {
  display: flex;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.three-column-test-image1 {
  width: 308.70950400000004px;
  height: 285.858072px;
  max-width: 100%;
}

.three-column-test-text2 {
  width: 204.668928px;
  height: 77.044608px;
  max-width: 100%;
}

.three-column-test-text3 {
  width: 149.648256px;
  height: 41.781096000000005px;
  max-width: 100%;
}

.three-column-test-container3 {
  display: flex;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.three-column-test-image2 {
  width: 210.40243200000006px;
  height: 335.93680800000004px;
  max-width: 100%;
}

.three-column-test-text4 {
  width: 197.849088px;
  height: 78.40475999999998px;
  max-width: 100%;
}

.three-column-test-text5 {
  width: 130.741632px;
  height: 30.164399999999986px;
  max-width: 100%;
}