.link-cta-link {
  align-items: left;
  align-self: flex-start;
  background-color: rgba(214, 57, 1, 255);
  border: 0px rgb(187, 187, 187);
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  padding: 15px 30px;
  text-align: center;
  -webkit-user-drag: none;
}
.container-default {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 100px;
  justify-content: flex-start;
  width: 100%;
}
.container {
  background-color: rgb(28, 60, 90);
  padding-bottom: 60px;
  padding-top: 60px;
}
.container,.container1 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Open Sans", sans-serif;
  line-height: 26px;
  position: relative;
  text-decoration-color: rgb(51, 51, 51);
  width: 100%;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding: 10px;
  top: 0px;
  webkit-flex-wrap: wrap;
}
.container2 {
  align-items: center;
  color: rgb(51, 51, 51);
  display: flex;
  font-family: "Open Sans", sans-serif;
  line-height: 26px;
  margin-block-end: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration-color: rgb(51, 51, 51);
}
.container2,.text {
  box-sizing: border-box;
}
.text {
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
  font-weight: 900;
  height: 30px;
  line-height: 30px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  width: 1120px;
}
.container3 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: auto;
  justify-content: center;
  width: 100%;
}

@media(max-width: 1280px) {
  .container1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .container1,.text {
    margin-right: auto;
  }
  .text {
    margin-bottom: 0px;
    margin-left: auto;
    margin-top: 0px;
    max-width: 1140px;
    width: 100%;
  }
}
@media(max-width: 1024px) {
  .container2 {
    width: 100%;
  }
}
