.richtext-default {
  min-width: 30px;
}
.image-default {
  background-color: #d9d9d9;
  border-radius: 3px;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  max-height: 100%;
  min-width: 30px;
  overflow: hidden;
  width: 100px;
}
.image-default,.container-default {
  align-items: center;
  display: flex;
}
.container-default {
  height: 100px;
}
.container-default,.container {
  flex: 0 0 auto;
  justify-content: flex-start;
  width: 100%;
}
.container {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  max-width: 1140px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.container,.image {
  padding-left: 10px;
  padding-right: 10px;
}
.image {
  background-color: rgb(217, 217, 217);
  width: 224px;
}
.richtext {
  margin: 10px;
  max-width: 648.25px;
  padding: 0px;
  width: 57%;
}
.container1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  max-width: 224px;
  width: 20%;
}
.image1,.image2 {
  background-color: rgb(217, 217, 217);
  height: 18px;
  margin: 8px;
  width: 18px;
}
.root-class-name {
  background-color: rgba(255, 255, 255, 1);
}


@media(max-width: 1024px) {
  .main {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }
}
