.link-nav-link {
  background-color: #FFFFFF00;
  font-weight: 700;
  line-height: 1.3em;
  padding: 10px 15px;
}
.link-nav-link,.link-cta-link {
  align-items: left;
  align-self: flex-start;
  border: 0px rgb(187, 187, 187);
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-style: normal;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  -webkit-user-drag: none;
}
.link-cta-link {
  background-color: rgba(214, 57, 1, 255);
  font-weight: bold;
  padding: 15px 30px;
}
.container-default {
  flex: 0 0 auto;
  height: 100px;
  justify-content: flex-start;
  width: 100%;
}
.container-default,.image-default {
  align-items: center;
  display: flex;
}
.image-default {
  background-color: #d9d9d9;
  border-radius: 3px;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  max-height: 100%;
  min-width: 30px;
  overflow: hidden;
  width: 100px;
}
.container {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-top: 30px;
  width: 100%;
}
.image {
  background-color: rgb(217, 217, 217);
  margin-left: 16px;
  margin-right: 16px;
  max-height: 137.4px;
  max-width: 160px;
  min-height: 137.4px;
  min-width: 160px;
}
.container1 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: auto;
  justify-content: flex-end;
  max-width: 1084px;
  width: 100%;
}
.container2 {
  align-items: center;
  padding-bottom: 30px;
}
.container2,.container3 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: auto;
  justify-content: flex-end;
  width: 100%;
}
.container3 {
  align-items: flex-end;
}
.link4 {
  align-items: left;
  align-self: flex-start;
  background-color: #FFFFFF00;
  border: 0px rgb(187, 187, 187);
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: 1.3em;
  overflow: hidden;
  padding: 10px 15px;
  text-align: center;
  -webkit-user-drag: none;
}
.container4 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: 100px;
  justify-content: flex-end;
  width: 100%;
}
.image1 {
  background-color: rgb(217, 217, 217);
  display: none;
  height: 100px;
  width: 100px;
}
.root-class-name {
  height: 145px;
  width: 1148px;
}



@media(max-width: 1280px) {
  .container1 {
    width: 84%;
  }
  .container2 {
    padding-bottom: 30px;
  }
  .container2,.container3 {
    padding-right: 30px;
  }
  .image1 {
    display: none;
  }
}
@media(max-width: 1024px) {
  .container1 {
    max-width: 1024px;
    position: relative;
    width: 82%;
  }
  .container2 {
    padding-bottom: 30px;
    padding-right: 30px;
  }
  .container3 {
    align-items: flex-end;
    display: none;
    flex: 0 0 auto;
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
    padding-right: 30px;
    width: 100%;
  }
  .container4 {
    padding: 20px 30px 20px 20px;
  }
  .image1 {
    display: flex;
    height: 50px;
    width: 44px;
  }
  .root-class-name {
    height: 145px;
  }
}
@media(max-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: 70%;
  }
}
@media(max-width: 640px) {
  .container1 {
    max-width: 640px;
    width: 60%;
  }
  .container2 {
    max-width: 100%;
  }
  .container3 {
    position: relative;
  }
}
