.link-cta-link {
  align-items: left;
  align-self: flex-start;
  background-color: rgba(214, 57, 1, 255);
  border: 0px rgb(187, 187, 187);
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  padding: 15px 30px;
  text-align: center;
  -webkit-user-drag: none;
}
.container-default {
  align-items: center;
  flex: 0 0 auto;
  height: 100px;
  justify-content: flex-start;
}
.container-default,.root {
  display: flex;
  width: 100%;
}
.root {
  flex-direction: row;
  justify-content: center;
}
.container {
  align-items: center;
  flex: 0 0 auto;
  flex-direction: row;
  margin-bottom: 40px;
  margin-top: 40px;
  max-width: 1140px;
  width: 100%;
}
.container,.container1 {
  display: flex;
  height: unset;
}
.container1 {
  background-color: rgba(27, 75, 110, 255);
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 50%;
}
.container1,.text {
  padding-left: 20px;
  padding-right: 20px;
}
.text {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.link {
  margin-left: auto;
  margin-right: auto;
}
.container2 {
  background-color: rgba(44, 91, 118, 255);
  border-color: rgba(44, 91, 118, 255);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: unset;
  justify-content: center;
  padding: 20px;
  width: 50%;
}
.text1 {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
  padding: 0px 0px 40px;
  text-align: center;
}
.link1 {
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 1024px) {
  .root {
    background-color: rgba(255, 255, 255, 1);
  }
}
@media(max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container1 {
    width: 100%;
  }
  .text {
    font-size: 1.2em;
  }
  .container2 {
    width: 100%;
  }
  .text1 {
    font-size: 1.2em;
  }
}
