.container {
  background: rgba(247, 247, 247, 1);
  padding: 100px 255px;
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}

.container1 {
  padding: 0 15px;
  width: 1410px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}

.text {
  font: normal 400 40px/48px Amiri;
  margin: 0 0 70px;
  color: rgba(118, 118, 121, 1);
  width: 1380px;
  height: auto;
  flex-grow: 0;
  align-self: stretch;
  text-align: center;
  font-stretch: normal;
  text-decoration: none;
}

.container2 {
  padding: 0 290px;
  margin: 0 0 70px;
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.richtext {
  font: normal 400 16px/28.799999237060547px Open Sans;
  color: rgba(101, 101, 103, 1);
  width: 800px;
  height: auto;
  flex-grow: 0;
  align-self: auto;
  text-align: center;
  font-stretch: normal;
  text-decoration: none;
}

.container3 {
  padding: 0 565px;
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.container4 {
  border: 1px solid rgba(88, 122, 141, 1);
  background: rgba(88, 122, 141, 1);
  padding: 13px 12px;
  width: 250px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.text1 {
  font: normal 400 14px/21px Open Sans;
  color: rgba(248, 249, 250, 1);
  height: auto;
  flex-grow: 0;
  align-self: auto;
  text-align: center;
  font-stretch: normal;
  text-decoration: none;
}

@media (max-width: 1280px) {
  .container {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1024px) {
  .container1 {
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .container3 {
    width: 100%;
    display: flex;
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: center;
  }
}