.container {
  padding: 0 176.25px;
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}

.container1 {
  padding: 32px 15px 12.796875px;
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}

.container2 {
  padding: 0px;
  margin: 0 0 48px;
  display: flex;
  padding: 0px;
  position: relative;
  flex-grow: 0;
  align-self: center;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.text {
  font: normal 400 40px/48px Amiri;
  color: rgba(118, 118, 121, 1);
  height: auto;
  flex-grow: 0;
  align-self: auto;
  text-align: center;
  font-stretch: normal;
  text-decoration: none;
}

.container3 {
  padding: 0 68.75px;
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}

.text1 {
  font: normal 400 16px/28.799999237060547px Open Sans;
  margin: 0 0 13px;
  color: rgba(101, 101, 103, 1);
  height: auto;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.richtext {
  font: normal 700 16px/28.799999237060547px Open Sans;
  margin: 0 0 13px;
  color: rgba(101, 101, 103, 1);
  height: auto;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.text2 {
  font: normal 400 16px/28.799999237060547px Open Sans;
  margin: 0 0 13px;
  color: rgba(101, 101, 103, 1);
  height: auto;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.richtext1 {
  font: normal 700 16px/28.799999237060547px Open Sans;
  margin: 0 0 13px;
  color: rgba(101, 101, 103, 1);
  height: auto;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.richtext2 {
  font: normal 700 16px/28.799999237060547px Open Sans;
  margin: 0 0 13px;
  color: rgba(101, 101, 103, 1);
  height: auto;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.richtext3 {
  font: normal 700 16px/28.799999237060547px Open Sans;
  color: rgba(101, 101, 103, 1);
  height: auto;
  flex-grow: 0;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

@media (max-width: 1280px) {
  .container {
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    background-color: rgba(247, 247, 247, 1);
  }

  .container2 {
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .text {
    width: 100%;
  }

  .container3 {
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}