.container {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: center;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  padding-top: 30px;
  border-color: transparent;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: flex-start;
  background-color: rgba(245, 245, 247, 1);
}
.image {
  width: 1032px;
  height: 1px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
.container01 {
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 40px;
  border-color: transparent;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: row;
  padding-bottom: 40px;
}
.container02 {
  width: 155.1999969482422px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 64px;
  margin-bottom: 0;
  flex-direction: column;
}
.text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container03 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.container04 {
  width: 155.1999969482422px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 64px;
  margin-bottom: 0;
  flex-direction: column;
}
.container05 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 24px;
  flex-direction: column;
}
.text01 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container06 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext01 {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.container07 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container08 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext02 {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.container09 {
  width: 155.1999969482422px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 64px;
  margin-bottom: 0;
  flex-direction: column;
}
.text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container10 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext03 {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.container11 {
  width: 155.1999969482422px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 64px;
  margin-bottom: 0;
  flex-direction: column;
}
.container12 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 24px;
  flex-direction: column;
}
.text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container13 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext04 {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.container14 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 24px;
  flex-direction: column;
}
.text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container15 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext05 {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.container16 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 24px;
  flex-direction: column;
}
.text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container17 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext06 {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.container18 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container19 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext07 {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.container20 {
  width: 155.1999969482422px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.container21 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 24px;
  flex-direction: column;
}
.text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container22 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext08 {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.container23 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.container24 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.richtext09 {
  color: rgba(66, 66, 69, 1);
  height: auto;
  flex-grow: 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}

@media(max-width: 1280px) {
  .container01 {
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}
@media(max-width: 1024px) {
  .container01 {
    display: flex;
    flex-direction: column;
  }
}
