.container {
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  padding-top: 10px;
  border-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  padding-bottom: 10px;
  justify-content: center;
}
.container01 {
  width: 50%;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 0;
  margin-left: 0;
  padding-top: 53px;
  border-color: transparent;
  margin-right: 10px;
  padding-left: 0;
  margin-bottom: 0;
  padding-right: 0;
  flex-direction: column;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 1);
}
.container02 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.container03 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
  flex-direction: column;
}
.container04 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 5px;
  flex-direction: column;
}
.image {
  width: 141px;
  height: 54px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
}
.text {
  color: rgba(238, 238, 238, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text1 {
  color: rgba(134, 134, 139, 1);
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container05 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container06 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 31px;
  margin-bottom: 0;
}
.text2 {
  color: rgba(0, 102, 204, 1);
  width: 95px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container07 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container08 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image1 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container09 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.text3 {
  color: rgba(0, 102, 204, 1);
  width: 88px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container10 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container11 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image2 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.image3 {
  width: 399px;
  height: 348px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container12 {
  width: 50%;
  height: 557px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  padding-top: 53px;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  padding-bottom: 0;
  background-color: rgba(251, 251, 253, 1);
}
.container13 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 20px;
  flex-direction: column;
}
.container14 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
  flex-direction: column;
}
.container15 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 5px;
  flex-direction: column;
}
.image4 {
  width: 144px;
  height: 54px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 15px;
}
.text4 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text5 {
  color: rgba(134, 134, 139, 1);
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container16 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container17 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 31px;
  margin-bottom: 0;
}
.text6 {
  color: rgba(0, 102, 204, 1);
  width: 95px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container18 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container19 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image5 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container20 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.text7 {
  color: rgba(0, 102, 204, 1);
  width: 88px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container21 {
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container22 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image6 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.image7 {
  width: 692px;
  height: 327px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}

@media(max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}
