.link-default {
  width: 100px;
  height: 75px;
  display: flex;
  overflow: hidden;
  font-size: 16px;
  min-width: 30px;
  align-self: flex-start;
  max-height: 100%;
  align-items: left;
  font-family: SF Pro Text;
  border-color: rgb(187, 187, 187);
  border-style: none;
  border-width: 0px;
  padding-left: 5px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF00;
  -webkit-user-drag: none;
}
.container-default {
  display: flex;
}
.container {
  width: 1280px;
  height: 825px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  padding-top: 68px;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 1);
}
.container01 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0px;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0px;
  border-color: transparent;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
}
.container02 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 18px;
  flex-direction: column;
}
.text {
  color: rgba(238, 238, 238, 1);
  height: auto;
  flex-grow: 0;
  font-size: 56px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 4px;
  text-decoration: none;
}
.text1 {
  color: rgba(238, 238, 238, 1);
  height: auto;
  flex-grow: 0;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text2 {
  color: rgba(134, 134, 139, 1);
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 18px;
  text-decoration: none;
}
.container03 {
  width: 301px;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: center;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: row;
  justify-content: center;
}
.container04 {
  width: 152px;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 42px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: center;
}
.link {
  color: rgba(41, 151, 255, 1);
  width: 109px;
  font-size: 20px;
  align-self: center;
}
.container05 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container06 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container07 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.text3 {
  color: rgba(41, 151, 255, 1);
  width: 91px;
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container08 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.container09 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.image2 {
  top: 0px;
  width: 1020px;
  height: 519px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}

@media(max-width: 1280px) {
  .container01 {
    width: 404px;
    height: 222px;
  }
  .container03 {
    width: 345px;
    height: 60px;
  }
  .container04 {
    width: 201px;
    height: 60px;
  }
  .link {
    width: 117px;
    height: 60px;
  }
}
@media(max-width: 1024px) {
  .container {
    width: 100%;
  }
}
