.container {
  border: 1px solid rgba(238, 238, 238, 1);
  background: rgba(255, 255, 255, 1);
  width: 666px;
  height: 169px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 8px;
}

.text {
  font: normal 500 18px/120.00000476837158% P22 Mackinac Pro;
  top: 24px;
  left: 58px;
  color: rgba(87, 87, 87, 1);
  height: auto;
  position: absolute;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.richtext {
  font: normal 400 14px/165.9999966621399% Helvetica Neue;
  top: 50px;
  left: 58px;
  color: rgba(87, 87, 87, 1);
  width: 321px;
  height: auto;
  position: absolute;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.container1 {
  top: 0px;
  left: 411px;
  width: 205px;
  height: 166px;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.image {
  top: -17px;
  left: -37px;
  width: 293px;
  height: 196px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}

.button {
  top: 27px;
  left: 25px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.image1 {
  width: 16px;
  height: 16px;
  position: absolute;
}

@media (max-width: 1280px) {
  .container {
    width: 669px;
    height: 169px;
  }

  .image {
    top: -19px;
    left: 2px;
  }

  .image1 {
    top: 25px;
    left: 27px;
  }
}