.container {
  align-items: center;
  background-color: rgba(0, 136, 136, 1);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.10196078568696976) ;
  flex-grow: 0;
  height: 558px;
  max-width: 1140px;
  width: 1140px;
}
.container,.container1 {
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
}
.container1 {
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  padding: 80px;
  width: 570px;
}
.text {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.text,.text1 {
  align-self: stretch;
  color: rgba(255, 255, 255, 1);
  flex-grow: 0;
  font-family: Roboto;
  font-stretch: normal;
  font-style: normal;
  height: auto;
  margin: 0 0 40px;
  text-align: left;
  text-decoration: none;
  width: 410px;
}
.text1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}
.container2 {
  align-self: stretch;
}
.container2,.container3 {
  align-items: center;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  height: 80px;
  justify-content: center;
  margin: 0 24px 0 0;
  overflow: hidden;
  width: 80px;
}
.image {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  height: 64px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 64px;
}
.image,.container4 {
  border-color: transparent;
  box-sizing: border-box;
}
.container4 {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 80px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 80px;
}
.image1 {
  align-self: stretch;
  border-color: transparent;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  height: 64px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 64px;
}
.container5 {
  align-items: center;
  flex-shrink: 0;
  height: 558px;
  justify-content: center;
  overflow: hidden;
  padding: 80px;
}
.container5,.container6 {
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  position: relative;
}
.container6 {
  align-items: flex-start;
  flex-direction: column;
}
.container6,.image2 {
  align-self: stretch;
  flex-shrink: 1;
}
.image2 {
  border-color: transparent;
  box-sizing: border-box;
  flex-grow: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  width: auto;
}
