.container-default {
  display: flex;
}
.image-default {
  background-color: #d9d9d9;
  border: 1px solid #666666;
  border-radius: 3px;
  height: 75px;
  max-height: 100%;
  min-width: 30px;
  overflow: hidden;
  width: 100px;
}
.image-default,.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  height: 560.6618472px;
  max-width: 100%;
  width: 1040.920128px;
}
.image {
  height: 603px;
  max-width: 100%;
  width: 896px;
}
.container1 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.container3 {
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  height: 450px;
  min-height: 200px;
  min-width: 500px;
  position: relative;
  width: 100%;
}
.container5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.text {
  height: fit-content;
  min-width: 100px;
}
.text1 {
  align-self: flex-end;
  height: 81px;
  width: 282px;
}
.image1 {
  flex-basis: 50%;
  height: 298.56340800000004px;
  max-width: 100%;
  width: 405.9705600000001px;
}
.image2 {
  background-color: rgb(217, 217, 217);
  height: 100px;
  width: 100px;
}
.image3 {
  flex-basis: 50%;
  height: 304.47316800000004px;
  max-width: 100%;
  width: 366.418944px;
}
@media(max-width: 1024px) {
  .image {
    border-color: rgba(127, 0, 129, 1);
    border-style: solid;
    border-top: 10px;
    border-width: 100px 1px;
    height: 600px;
    width: 897px;
  }
  .container3 {
    grid-template-columns: repeat(3,1fr);
    height: 451px;
  }
  .text1 {
    height: 79px;
    width: 282px;
  }
}
@media(max-width: 640px) {
  .image,.container1 {
    flex-basis: auto;
    max-width: 100%;
  }
  .container1 {
    align-items: center;
    flex-direction: column;
  }
  .image1,.image3 {
    flex-basis: auto;
    max-width: 100%;
  }
}
