.paragraph-default {
  align-items: left;
  background-color: #FFFFFF00;
  border-radius: 5px;
  color: rgba(51, 49, 51, 255);
  flex-direction: column;
  font-family: Open Sans;
  font-size: 1em;
  max-height: 100%;
  overflow: hidden;
  padding-left: 3px;
  -webkit-user-drag: none;
}
.paragraph-default,.container-default {
  border: 0px rgb(187, 187, 187);
  display: flex;
  height: 75px;
  min-width: 30px;
  width: 100px;
}
.container-default {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  flex-direction: row;
}
.image-default {
  background-color: #d9d9d9;
  border: 0px #666666;
  border-radius: 3px;
  height: 75px;
  max-height: 100%;
  min-width: 30px;
  overflow: hidden;
  width: 100px;
}
.image-default,.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  height: 560.6618472px;
  max-width: 100%;
  width: 1040.920128px;
}
.image {
  height: 146.24647199999998px;
  max-width: 100%;
  width: 896.380992px;
}
.container1,.container2 {
  display: flex;
  flex-direction: row;
}
.container2 {
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.image1 {
  height: 298.56340800000004px;
  width: 405.9705600000001px;
}
.image1,.image2 {
  flex-basis: 50%;
  max-width: 100%;
}
.image2 {
  height: 304.47316800000004px;
  width: 366.418944px;
}
.text {
  align-self: flex-end;
  height: 43.995312000000006px;
  width: 163.881216px;
}
@media(max-width: 1280px) {
  .text {
    align-self: flex-end;
  }
}
@media(max-width: 640px) {
  .image,.container2 {
    flex-basis: auto;
    max-width: 100%;
  }
  .container2 {
    align-items: center;
    flex-direction: column;
  }
  .image1,.image2 {
    flex-basis: auto;
    max-width: 100%;
  }
}
