.root {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  height: 392px;
  min-height: 200px;
  min-width: 500px;
  position: relative;
  width: 100%;
}
.container2 {
  flex-direction: row;
  min-height: 100%;
  parent-id: O7P4hIPHLV99x_Ah-MuBG;
}
.container2,.container3 {
  display: flex;
  justify-content: center;
}
.container3 {
  flex: 0 0 auto;
  flex-direction: row;
  height: 362px;
  width: 100%;
}
.text {
  height: fit-content;
  margin: 0px;
  padding: 0px;
  width: 336px;
}
.image {
  background-color: rgb(217, 217, 217);
  height: 182px;
  width: 294px;
}
@media(max-width: 1024px) {
  .container {
    height: 392px;
  }
  .container3 {
    display: flex;
    flex-direction: column;
    height: 363px;
  }
  .text {
    width: 337px;
  }
  .image {
    height: 181px;
    width: 296px;
  }
}
