.button-button-540 {
  font: bold 1.1em Verdana;
  background: rgba(255, 180, 0, 1);
  color: rgba(255, 255, 255, 1);
  width: 100px;
  border: 1px solid #666666;
  height: 75px;
  display: flex;
  min-width: 35px;
  max-height: 95px;
  min-height: 2px;
  align-items: center;
  border-color: rgba(237, 23, 23, 1);
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  -webkit-user-drag: none;
}

.button-button-364 {
  font: bold 1.1em Verdana;
  background: rgba(231, 100, 18, 1);
  color: rgba(255, 255, 255, 1);
  width: 100px;
  border: 1px solid #666666;
  height: 75px;
  display: flex;
  min-width: 30px;
  max-height: 100%;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  -webkit-user-drag: none;
}

.link-link-style {
  background: rgba(167, 2, 52, 255);
  color: rgba(255, 255, 255, 1);
  width: 321px;
  height: 24px;
}

.link-link-style-2 {
  background: rgba(70, 70, 70, 255);
  color: rgba(0, 157, 218, 1);
  width: 265px;
  height: 24px;
  font-size: 30px;
  border-color: rgba(167, 2, 52, 255);
  border-width: 3px;
}

.container-default {
  display: flex;
}

.root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
}

.container1 {
  flex: 0 0 auto;
  width: 1340px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.link {
  margin: 10px;
  height: fit-content;
}

.link1 {
  margin: 10px;
  height: fit-content;
}

.link2 {
  margin: 10px;
  height: fit-content;
}

.container2 {
  flex: 0 0 auto;
  width: 1465px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.button {
  margin: 10px;
  width: 333px;
  height: 75px;
}

.button1 {
  margin: 10px;
  width: 274px;
  height: 75px;
}