.root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.container {
  background-position: left top;
  display: flex;
  flex-direction: column;
}
