.paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.root {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}
.text {
  height: 198px;
  width: 216px;
}


