.root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  position: relative;
  z-index: 4;
}
.root:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container {
  background-attachment: initial;
  background-clip: initial;
  background-color: rgb(116, 117, 119);
  background-image: initial;
  background-origin: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-size: initial;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  padding: 40px 0px;
}
.container:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container1 {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1365px;
  padding: 0px 30px;
}
.container1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  min-width: 250px;
  padding-right: 20px;
}
.container2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgb(238, 238, 238);
  display: block;
  font-family: Amiri, serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
  margin-block-end: 0.83em;
  margin-block-start: 0.83em;
  margin-bottom: 20px;
  margin-inline-end: auto;
  margin-inline-start: auto;
  margin-top: 0px;
  opacity: 0.5;
}
.text:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.html-element {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  line-height: 1.5;
  margin: 0px 0px 0.8em;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
.html-element:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.html-element01 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.html-element01:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.html-element02 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.html-element02:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.html-element03 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.html-element03:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.text4 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 7px;
}
.text4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container3 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.container3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.sitecore-placeholder,.sitecore-placeholder1 {
  background-blend-mode: normal, difference, normal;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), linear-gradient(to right, black 50%, white 50%), linear-gradient(black 50%, white 50%);
  background-size: 20px 20px;
  border: 1px dashed #0c0c0c;
  color: black;
  font-size: 18px;
  height: max-content;
  max-width: 100%;
  padding: 20px;
}
.html-element04 {
  border: none;
  border-bottom-color: initial;
  border-bottom-style: none;
  border-bottom-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-source: initial;
  border-image-width: initial;
  border-right: 1px solid rgb(0, 0, 0);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 126px;
  margin: 0px 40px;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
  margin-inline-end: auto;
  margin-inline-start: auto;
  opacity: 0.14;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px;
  unicode-bidi: isolate;
  width: 0px;
}
.html-element04:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.html-element05 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: none;
  margin: 0px;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding: 0px;
  padding-inline-start: 40px;
  text-transform: uppercase;
}
.html-element05:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.html-element06 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: list-item;
  padding: 5px;
  text-align: -webkit-match-parent;
  width: 50%;
}
.html-element06:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link:hover {
  text-decoration-line: underline;
}
.link:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.html-element07 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: list-item;
  padding: 5px;
  text-align: -webkit-match-parent;
  width: 50%;
}
.html-element07:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link01 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link01:hover {
  text-decoration-line: underline;
}
.link01:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.html-element08 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: list-item;
  padding: 5px;
  text-align: -webkit-match-parent;
  width: 50%;
}
.html-element08:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link02 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link02:hover {
  text-decoration-line: underline;
}
.link02:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.html-element09 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: list-item;
  padding: 5px;
  text-align: -webkit-match-parent;
  width: 50%;
}
.html-element09:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link03 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link03:hover {
  text-decoration-line: underline;
}
.link03:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.html-element10 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: list-item;
  padding: 5px;
  text-align: -webkit-match-parent;
  width: 50%;
}
.html-element10:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link04 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link04:hover {
  text-decoration-line: underline;
}
.link04:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.html-element11 {
  border: none;
  border-bottom-color: initial;
  border-bottom-style: none;
  border-bottom-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-source: initial;
  border-image-width: initial;
  border-right: 1px solid rgb(0, 0, 0);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 126px;
  margin: 0px 40px;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
  margin-inline-end: auto;
  margin-inline-start: auto;
  opacity: 0.14;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px;
  unicode-bidi: isolate;
  width: 0px;
}
.html-element11:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container4 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-wrap: nowrap;
  white-space-collapse: collapse;
}
.container4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.text5 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgb(238, 238, 238);
  display: block;
  font-family: Amiri, serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
  margin-block-end: 0.83em;
  margin-block-start: 0.83em;
  margin-bottom: 20px;
  margin-inline-end: auto;
  margin-inline-start: auto;
  margin-top: 0px;
  opacity: 0.5;
}
.text5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container5 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.container5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container6 {
  -webkit-box-flex: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -ms-flex: 0 0 100%;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center !important;
  width: 100%;
}
.container6:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link05 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link05:hover {
  text-decoration-line: underline;
}
.link05:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.image {
  aspect-ratio: auto 25 / 25;
  border-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  overflow-clip-margin: content-box;
  overflow-x: clip;
  overflow-y: clip;
  vertical-align: middle;
  width: 25px;
}
.image:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link06 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  margin-left: 20px;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link06:hover {
  text-decoration-line: underline;
}
.link06:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.image1 {
  aspect-ratio: auto 25 / 25;
  border-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  overflow-clip-margin: content-box;
  overflow-x: clip;
  overflow-y: clip;
  vertical-align: middle;
  width: 25px;
}
.image1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link07 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  margin-left: 20px;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link07:hover {
  text-decoration-line: underline;
}
.link07:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.image2 {
  aspect-ratio: auto 25 / 25;
  border-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  overflow-clip-margin: content-box;
  overflow-x: clip;
  overflow-y: clip;
  vertical-align: middle;
  width: 25px;
}
.image2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link08 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  margin-left: 20px;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link08:hover {
  text-decoration-line: underline;
}
.link08:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.image3 {
  aspect-ratio: auto 25 / 25;
  border-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  overflow-clip-margin: content-box;
  overflow-x: clip;
  overflow-y: clip;
  vertical-align: middle;
  width: 25px;
}
.image3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link09 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  margin-left: 20px;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link09:hover {
  text-decoration-line: underline;
}
.link09:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.image4 {
  aspect-ratio: auto 25 / 25;
  border-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  overflow-clip-margin: content-box;
  overflow-x: clip;
  overflow-y: clip;
  vertical-align: middle;
  width: 25px;
}
.image4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container7 {
  background-attachment: initial;
  background-clip: initial;
  background-color: rgb(108, 109, 112);
  background-image: initial;
  background-origin: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-size: initial;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 12px;
  padding: 10px 0px;
}
.container7:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container8 {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -ms-flex-align: center;
  margin: 0px auto;
  max-width: 1365px;
  padding: 0px 30px;
}
.container8:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.html-element12 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: none;
  margin: 0px;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding: 10px 0px;
  padding-inline-start: 40px;
  text-align: center;
}
.html-element12:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.html-element13 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 0px;
  text-align: -webkit-match-parent;
}
.html-element13:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link10 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link10:hover {
  text-decoration-line: underline;
}
.link10:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.html-element14 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 0px;
  text-align: -webkit-match-parent;
}
.html-element14:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link11 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link11:hover {
  text-decoration-line: underline;
}
.link11:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.html-element15 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 0px;
  text-align: -webkit-match-parent;
}
.html-element15:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.link12 {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  text-decoration-color: initial;
  text-decoration-line: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}
.link12:hover {
  text-decoration-line: underline;
}
.link12:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 1px;
}
.text6 {
  -webkit-box-flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  -ms-flex-positive: 1;
  line-height: 1.8;
  margin: 0px;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding: 10px 0px;
  text-align: right;
}
.text6:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 1599px) {
  .root {
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 4;
  }
  .root,.container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .container {
    background-attachment: initial;
    background-clip: initial;
    background-color: rgb(116, 117, 119);
    background-image: initial;
    background-origin: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-size: initial;
    font-size: 14px;
    padding: 40px 0px;
  }
  .container1 {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1365px;
    padding: 0px 30px;
  }
  .container2 {
    min-width: 250px;
    padding-right: 20px;
  }
  .container2,.text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .text {
    color: rgb(238, 238, 238);
    font-family: Amiri, serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    margin-block-end: 0.83em;
    margin-block-start: 0.83em;
    margin-bottom: 20px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    margin-top: 0px;
    opacity: 0.5;
  }
  .html-element {
    display: block;
    line-height: 1.5;
    margin: 0px 0px 0.8em;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
  }
  .html-element,.html-element01,.html-element02,.html-element03,.text4 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .text4 {
    display: inline-block;
    margin-top: 7px;
  }
  .container3 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .html-element04 {
    border: none;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-image-slice: initial;
    border-image-source: initial;
    border-image-width: initial;
    border-right: 1px solid rgb(0, 0, 0);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 126px;
    margin: 0px 40px;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
    margin-inline-end: auto;
    margin-inline-start: auto;
    opacity: 0.14;
    overflow-x: visible;
    overflow-y: visible;
    unicode-bidi: isolate;
    width: 0px;
  }
  .html-element04,.html-element05 {
    padding: 0px;
  }
  .html-element05 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-image: initial;
    list-style-position: initial;
    list-style-type: none;
    margin: 0px;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 40px;
    text-transform: uppercase;
  }
  .html-element05,.html-element06 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .html-element06 {
    display: list-item;
    padding: 5px;
    text-align: -webkit-match-parent;
    width: 50%;
  }
  .link {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .link,.html-element07 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .html-element07 {
    display: list-item;
    padding: 5px;
    text-align: -webkit-match-parent;
    width: 50%;
  }
  .link01 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .link01,.html-element08 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .html-element08 {
    display: list-item;
    padding: 5px;
    text-align: -webkit-match-parent;
    width: 50%;
  }
  .link02 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .link02,.html-element09 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .html-element09 {
    display: list-item;
    padding: 5px;
    text-align: -webkit-match-parent;
    width: 50%;
  }
  .link03 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .link03,.html-element10 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .html-element10 {
    display: list-item;
    padding: 5px;
    text-align: -webkit-match-parent;
    width: 50%;
  }
  .link04 {
    background-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .html-element11 {
    border: none;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-image-slice: initial;
    border-image-source: initial;
    border-image-width: initial;
    border-right: 1px solid rgb(0, 0, 0);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 126px;
    margin: 0px 40px;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
    margin-inline-end: auto;
    margin-inline-start: auto;
    opacity: 0.14;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0px;
    unicode-bidi: isolate;
    width: 0px;
  }
  .container4 {
    text-wrap: nowrap;
    white-space-collapse: collapse;
  }
  .container4,.text5 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .text5 {
    color: rgb(238, 238, 238);
    font-family: Amiri, serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    margin-block-end: 0.83em;
    margin-block-start: 0.83em;
    margin-bottom: 20px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    margin-top: 0px;
    opacity: 0.5;
  }
  .container5 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .container5,.container6 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .container6 {
    -webkit-box-flex: 0;
    display: block;
    -ms-flex: 0 0 100%;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: center !important;
    width: 100%;
  }
  .link05 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .link05,.image {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .image {
    aspect-ratio: auto 25 / 25;
    border-style: none;
    height: 25px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    vertical-align: middle;
    width: 25px;
  }
  .link06 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    margin-left: 20px;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .link06,.image1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .image1 {
    aspect-ratio: auto 25 / 25;
    border-style: none;
    height: 25px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    vertical-align: middle;
    width: 25px;
  }
  .link07 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    margin-left: 20px;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .link07,.image2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .image2 {
    aspect-ratio: auto 25 / 25;
    border-style: none;
    height: 25px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    vertical-align: middle;
    width: 25px;
  }
  .link08 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    margin-left: 20px;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .link08,.image3 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .image3 {
    aspect-ratio: auto 25 / 25;
    border-style: none;
    height: 25px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    vertical-align: middle;
    width: 25px;
  }
  .link09 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    margin-left: 20px;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .link09,.image4 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .image4 {
    aspect-ratio: auto 25 / 25;
    border-style: none;
    height: 25px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    vertical-align: middle;
    width: 25px;
  }
  .container7 {
    background-attachment: initial;
    background-clip: initial;
    background-color: rgb(108, 109, 112);
    background-image: initial;
    background-origin: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-size: initial;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    padding: 10px 0px;
  }
  .container8 {
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    -ms-flex-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1365px;
    padding: 0px 30px;
  }
  .container8,.html-element12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .html-element12 {
    display: block;
    list-style-image: initial;
    list-style-position: initial;
    list-style-type: none;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0px;
    padding-inline-start: 40px;
    text-align: center;
  }
  .html-element13 {
    display: inline-block;
    padding: 5px 0px;
    text-align: -webkit-match-parent;
  }
  .html-element13,.link10 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .link10 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .html-element14 {
    display: inline-block;
    padding: 5px 0px;
    text-align: -webkit-match-parent;
  }
  .html-element14,.link11 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .link11 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .html-element15 {
    display: inline-block;
    padding: 5px 0px;
    text-align: -webkit-match-parent;
  }
  .html-element15,.link12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .link12 {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    text-decoration-color: initial;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
  }
  .text6 {
    -webkit-box-flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    flex-grow: 1;
    -ms-flex-positive: 1;
    line-height: 1.8;
    margin: 0px;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding: 10px 0px;
    text-align: right;
  }
}
@media(max-width: 1300px) {
  .html-element04,.html-element11 {
    margin-left: 18px;
    margin-right: 18px;
  }
}
@media(max-width: 1150px) {
  .html-element04,.html-element11 {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media(max-width: 1068px) {
  .container {
    text-align: center;
  }
  .container1 {
    display: block;
  }
  .container2 {
    margin-bottom: 40px;
    min-width: 160px;
    padding-right: 0px;
  }
  .html-element04 {
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    height: 0px;
    margin: 40px 0px;
    width: 100%;
  }
  .html-element05 {
    display: block;
  }
  .html-element06,.html-element07,.html-element08,.html-element09,.html-element10 {
    padding: 10px 0px;
    width: auto;
  }
  .html-element11 {
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    height: 0px;
    margin: 40px 0px;
    width: 100%;
  }
}
@media(max-width: 575px) {
  .container8 {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text6 {
    text-align: left;
  }
}
