.root {
  color: rgb(88, 122, 141);
  width: 190px;
  border: 1px solid #587a8d;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  min-width: 0px;
  text-wrap: nowrap;
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 0.75rem;
  user-select: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: rgba(248, 249, 250, 0.7);
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 1px;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
  text-decoration-line: none;
  white-space-collapse: collapse;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}
.root:hover {
  background-color: rgb(248, 249, 250);
  border-top-color: rgb(218, 224, 229);
  border-left-color: rgb(218, 224, 229);
  border-right-color: rgb(218, 224, 229);
  border-bottom-color: rgb(218, 224, 229);
}
.root:focus {
  box-shadow: rgba(248, 249, 250, 0.5) 0px 0px 0px 0.2rem;
  outline-width: 0px;
}
.root:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
@media(max-width: 810px) {
  .root {
    color: rgb(88, 122, 141);
    width: 100%;
    border: 1px solid #587a8d;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    min-width: 0px;
    text-wrap: nowrap;
    box-sizing: border-box;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 0.75rem;
    user-select: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: rgba(248, 249, 250, 0.7);
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
    text-decoration-line: none;
    white-space-collapse: collapse;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  }
}
