.container {
  height: 400px;
  flex-direction: column;
  justify-content: center;
}
.container,.container1 {
  width: 100%;
  display: flex;
  align-items: center;
}
.container1 {
  flex: 0 0 auto;
  height: 100px;
  justify-content: flex-start;
}
