.container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.heading {
  background-color: #d84242;
}

@media(max-width: 1280px) {
  .heading {
    background-color: #5a33b9;
  }
}
