.container {
  height: 400px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.container,.container1 {
  width: 100%;
  display: flex;
}
.container1 {
  flex: 0 0 auto;
  height: 100px;
  flex-direction: row;
}
@media(max-width: 1919px) {
  .container1 {
    width: 100%;
  }
}
