.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  height: auto;
}
.container,.container01 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 1440px;
}
.container01 {
  background-size: cover;
  flex-shrink: 0;
  gap: 8px;
  height: 768px;
  justify-content: flex-end;
  padding: 64px 120px;
}
.container02 {
  background-color: rgba(255, 255, 255, 1);
  flex-shrink: 0;
  height: 496px;
  padding: 32px;
  position: relative;
  width: 584px;
}
.container02,.container03 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.container03 {
  align-self: stretch;
  gap: 24px;
  padding: 0 0 24px;
}
.image {
  height: 1px;
  width: 520px;
}
.image,.text {
  align-self: stretch;
}
.text {
  color: rgba(65, 83, 93, 1);
  font-family: Helvetica Neue LT Std;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300px;
  height: auto;
  line-height: 48px;
  text-align: left;
}
.container04 {
  align-self: stretch;
  gap: 24px;
  padding: 0 0 32px;
  z-index: 1;
}
.container04,.container05 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.container05 {
  gap: 8px;
}
.container06 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  gap: 8px;
}
.text1 {
  color: rgba(65, 83, 93, 1);
  font-family: Helvetica Neue LT Std;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700px;
  height: auto;
  line-height: 26px;
  text-align: left;
}
.image1 {
  height: 12px;
  width: 12px;
}
.text2 {
  color: rgba(65, 83, 93, 1);
  font-family: Helvetica Neue LT Std;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400px;
  height: auto;
  line-height: 26px;
  text-align: left;
  width: 520px;
}
.container07 {
  flex-direction: column;
}
.container07,.container08 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
}
.container08 {
  border-radius: 4px;
}
.text3 {
  color: rgba(65, 83, 93, 1);
  font-family: Helvetica Neue LT Std;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700px;
  height: auto;
  line-height: 26px;
  text-align: left;
}
.image2 {
  height: 12px;
  width: 12px;
}
.text4 {
  color: rgba(65, 83, 93, 1);
  font-family: Helvetica Neue LT Std;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400px;
  height: auto;
  line-height: 26px;
  text-align: left;
  width: 520px;
}
.container09 {
  gap: 286px;
  z-index: 2;
}
.container09,.container10 {
  align-items: center;
  display: flex;
}
.container10 {
  background-color: rgba(0, 124, 195, 1);
  border-radius: 2px;
  flex-shrink: 0;
  height: 52px;
  padding: 16px 24px 12px;
}
.text5 {
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica Neue LT Std;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700px;
  height: auto;
  line-height: 24px;
  text-align: left;
}

