.container {
  width: 1140px;
  height: 558px;
  display: flex;
  position: relative;
  flex-grow: 0;
  max-width: 1140px;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.container01 {
  width: 570px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 80px;
  border-color: transparent;
  padding-left: 80px;
  padding-right: 80px;
  flex-direction: column;
  padding-bottom: 80px;
  justify-content: center;
}
.text {
  color: rgba(221, 136, 34, 1);
  width: 410px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: stretch;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 28px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 40px;
  text-decoration: none;
}
.richtext {
  color: rgba(34, 34, 34, 1);
  width: 410px;
  height: auto;
  flex-grow: 0;
  font-size: 28px;
  align-self: stretch;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 36px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 40px;
}
.container02 {
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.container03 {
  width: 80px;
  height: 80px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 24px;
  margin-bottom: 0;
}
.image {
  top: -9.369421005249023px;
  left: -9.369421005249023px;
  width: 99px;
  height: 99px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container04 {
  width: 306px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.text1 {
  color: rgba(34, 34, 34, 1);
  width: 306px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: stretch;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 28px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 4px;
  text-decoration: none;
}
.container05 {
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.text2 {
  color: rgba(34, 34, 34, 1);
  width: 306px;
  height: auto;
  flex-grow: 0;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.text3 {
  color: rgba(34, 34, 34, 1);
  width: 306px;
  height: auto;
  flex-grow: 0;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.container06 {
  width: 640px;
  height: 558px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.10196078568696976) ;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  padding-top: 80px;
  border-color: transparent;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  justify-content: center;
  background-color: rgba(221, 136, 34, 1);
}
.container07 {
  top: 0px;
  left: 284.8427734375px;
  width: 395px;
  height: 394.6767578125px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  padding-top: 40px;
  border-color: transparent;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: 40px;
  justify-content: center;
}
.container08 {
  width: 314.6767883300781px;
  height: 314.6767883300781px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container09 {
  top: 179.79917907714844px;
  left: 3.2448267936706543px;
  width: 250px;
  height: 187px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.image1 {
  width: 250px;
  height: 187px;
}
