.root {
  display: block;
}
.container {
  color: rgb(255, 255, 255);
  height: 460px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-size: cover;
  background-image: url("https://www.biolage.ca/dist/img/biolage_header_desktop_en.jpg");
  background-position-x: center;
  background-position-y: center;
}
.container:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.container1 {
  width: 90%;
  display: block;
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  animation-name: nodeInserted;
  animation-duration: 0.01s;
}
.container1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 1200px) {
  .container {
    height: 460px;
    align-items: center;
    background-image: url("https://www.biolage.ca/dist/img/biolage_header_desktop_en.jpg");
    background-position-x: center;
    background-position-y: center;
  }
  .container1 {
    width: calc(100% - 120px);
    padding-left: unset;
    padding-right: unset;
  }
}
@media(max-width: 1024px) {
  .container {
    color: rgb(255, 255, 255);
    height: 133vw;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    background-size: cover;
    background-image: url("https://www.biolage.ca/dist/img/biolage_header_mobile_en.jpg");
    background-position-x: right;
    background-position-y: bottom;
  }
  .container1 {
    width: 100%;
    display: block;
    max-width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    animation-name: nodeInserted;
    animation-duration: 0.01s;
  }
}
