.button-default {
  font: 16px SF Pro Text;
  background: #d9d9d9;
  padding: 4px 8px;
  display: flex;
  min-width: 30px;
  min-height: 24px;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
}

.link-default {
  border: 0px none rgb(187, 187, 187);
  font: 16px SF Pro Text;
  background: #FFFFFF00;
  width: 100px;
  height: 75px;
  display: flex;
  overflow: hidden;
  min-width: 30px;
  align-self: flex-start;
  max-height: 100%;
  align-items: left;
  padding-left: 5px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  -webkit-user-drag: none;
}

.container {
  background: rgba(0, 0, 0, 1);
  padding: 68px 0 0;
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.container1 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.container2 {
  margin: 0 0 18px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.text {
  font: normal 500 56px/normal SF Pro Text;
  margin: 0 0 4px;
  color: rgba(238, 238, 238, 1);
  height: auto;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.text1 {
  font: normal 500 26px/normal SF Pro Text;
  color: rgba(238, 238, 238, 1);
  height: auto;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.container3 {
  width: 245px;
  height: 32px;
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: center;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  color: rgba(41, 151, 255, 255);
  height: fit-content;
}

.button {
  background: rgba(0, 0, 0, 255);
  color: rgba(41, 151, 255, 255);
}

.image {
  width: 600px;
  height: 459px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}