.container {
  width: 1140px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.10196078568696976) ;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(0, 136, 136, 1);
}
.container1 {
  width: 570px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 80px;
  border-color: transparent;
  padding-left: 80px;
  padding-right: 80px;
  flex-direction: column;
  padding-bottom: 80px;
  justify-content: center;
}
.text {
  color: rgba(255, 255, 255, 1);
  width: 410px;
  height: auto;
  flex-grow: 0;
  font-size: 18px;
  align-self: stretch;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 28px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 40px;
  text-decoration: none;
}
.text1 {
  color: rgba(255, 255, 255, 1);
  width: 410px;
  height: auto;
  flex-grow: 0;
  font-size: 28px;
  align-self: stretch;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 36px;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 40px;
  text-decoration: none;
}
.container2 {
  display: flex;
  position: relative;
  flex-grow: 0;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.container3 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 24px;
  margin-bottom: 0;
  justify-content: center;
}
.image {
  top: 8px;
  left: 8px;
  width: 64px;
  height: 64px;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 1;
  border-color: transparent;
}
.container4 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.image1 {
  top: 8px;
  left: 8px;
  width: 64px;
  height: 64px;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 1;
  border-color: transparent;
}
.container5 {
  width: 550px;
  height: 543px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  padding-top: 80px;
  border-color: transparent;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  justify-content: center;
}
.container6 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.image2 {
  width: auto;
  height: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 1;
  border-color: transparent;
}
.form {
  width: 1141px;
  border: 1px solid black;
  height: 189px;
  display: flex;
  min-height: 200px;
}
@media(max-width: 1280px) {
  .container {
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.10196078568696976);
  }
  .container5 {
    width: 550px;
    height: 542px;
  }
  .form {
    width: 1140px;
    height: 189px;
  }
}
