.container {
  width: 1064px;
  height: 566px;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.container1 {
  display: flex;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 304px;
  height: 288px;
  max-width: 100%;
}

.text {
  width: 229px;
  height: 77px;
  max-width: 100%;
}

.text1 {
  width: 174px;
  height: 41px;
  max-width: 100%;
}

.container2 {
  display: flex;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image1 {
  width: 308px;
  height: 285px;
  max-width: 100%;
}

.text2 {
  width: 204px;
  height: 77px;
  max-width: 100%;
}

.text3 {
  width: 149px;
  height: 41px;
  max-width: 100%;
}

.container3 {
  display: flex;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image2 {
  width: 210px;
  height: 335px;
  max-width: 100%;
}

.text4 {
  width: 197px;
  height: 78px;
  max-width: 100%;
}

.text5 {
  width: 130px;
  height: 30px;
  max-width: 100%;
}

.root-class-name {
  justify-content: center;
}

@media (max-width: 640px) {
  .container {
    align-items: center;
    flex-direction: column;
  }

  .container1 {
    max-width: 100%;
    flex-basis: auto;
  }

  .image {
    max-width: 100%;
    flex-basis: auto;
  }

  .text {
    max-width: 100%;
    flex-basis: auto;
  }

  .text1 {
    max-width: 100%;
    flex-basis: auto;
  }

  .container2 {
    max-width: 100%;
    flex-basis: auto;
  }

  .image1 {
    max-width: 100%;
    flex-basis: auto;
  }

  .text2 {
    max-width: 100%;
    flex-basis: auto;
  }

  .text3 {
    max-width: 100%;
    flex-basis: auto;
  }

  .container3 {
    max-width: 100%;
    flex-basis: auto;
  }

  .image2 {
    max-width: 100%;
    flex-basis: auto;
  }

  .text4 {
    max-width: 100%;
    flex-basis: auto;
  }

  .text5 {
    max-width: 100%;
    flex-basis: auto;
  }
}