.container {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.container01 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 32px;
}
.container02 {
  width: 264px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 24px;
  border-radius: 8px;
  margin-bottom: 0;
}
.image {
  top: 0px;
  left: 0px;
  width: 353px;
  height: 198px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container03 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  padding-top: 16px;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  padding-bottom: 0;
}
.container04 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 24px;
  flex-direction: column;
}
.container05 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 16px;
  flex-direction: column;
}
.text {
  color: rgba(77, 73, 52, 1);
  width: 434px;
  height: auto;
  flex-grow: 0;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: P22 Mackinac Pro;
  font-weight: 500;
  line-height: 120.00000476837158%;
  margin-left: 0;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 4px;
  text-decoration: none;
}
.text1 {
  color: rgba(87, 87, 87, 1);
  width: 439px;
  height: auto;
  flex-grow: 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Helvetica Neue;
  font-weight: 400;
  line-height: 165.9999966621399%;
  font-stretch: normal;
  text-decoration: none;
}
.richtext {
  color: rgba(87, 87, 87, 1);
  width: 404px;
  height: auto;
  flex-grow: 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Helvetica Neue;
  font-weight: 400;
  line-height: 165.9999966621399%;
  font-stretch: normal;
  text-decoration: none;
}
.container06 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.container07 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 16px;
  margin-bottom: 0;
  justify-content: center;
}
.container08 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.container09 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 2px;
  margin-bottom: 0;
}
.image1 {
  top: 5.000059604644775px;
  left: 4.99997615814209px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.text2 {
  color: rgba(77, 73, 52, 1);
  height: auto;
  flex-grow: 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-family: Helvetica Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container10 {
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.image2 {
  top: 10px;
  left: 6.999999046325684px;
  width: 10px;
  height: 6px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container11 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: center;
  flex-shrink: 1;
  margin-left: 0;
  border-color: transparent;
  margin-right: 16px;
  margin-bottom: 0;
  justify-content: center;
}
.container12 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.container13 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 0;
  border-color: transparent;
  margin-right: 2px;
  margin-bottom: 0;
}
.image3 {
  top: 5px;
  left: 5px;
  width: 13px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.text3 {
  color: rgba(77, 73, 52, 1);
  height: auto;
  flex-grow: 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-family: Helvetica Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container14 {
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.image4 {
  top: 10px;
  left: 6.999999046325684px;
  width: 10px;
  height: 6px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container15 {
  width: 108.3203125px;
  height: 17px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.text4 {
  top: 0px;
  left: 23.3203125px;
  color: rgba(77, 73, 52, 1);
  height: auto;
  position: absolute;
  flex-grow: 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-family: Helvetica Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container16 {
  top: 1.6875px;
  left: 0px;
  width: 14px;
  height: 14.314453125px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.container17 {
  top: 0.004661768674850464px;
  left: 8.099845886230469px;
  width: 6px;
  height: 6.216287136077881px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image5 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container18 {
  top: 0px;
  left: 5.255859375px;
  width: 9px;
  height: 9.064136505126953px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image6 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 9px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container19 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14.314453125px;
  display: flex;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.image7 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
.container20 {
  width: 727px;
  height: 0px;
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.image8 {
  width: 727px;
  height: 1px;
  position: absolute;
}
