.paragraph-default {
  background-color: rgba(255, 255, 255, 1);
  border-style: solid;
  color: rgba(70, 70, 70, 255);
  font-family: Arial;
  font-size: 0.8em;
  margin: 20px 10px;
  max-height: 100px;
  overflow: hidden;
}
.container-default {
  display: flex;
}
.image-default {
  background-color: #d9d9d9;
  border: 1px solid #666666;
  border-radius: 3px;
  height: 75px;
  max-height: 100%;
  min-width: 30px;
  overflow: hidden;
  width: 100px;
}
.image-default,.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  height: 560.6618472px;
  max-width: 100%;
  width: 1040.920128px;
}
.image {
  height: 146.24647199999998px;
  max-width: 100%;
  width: 896.380992px;
}
.container1 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.image1 {
  height: 298.56340800000004px;
  width: 405.9705600000001px;
}
.image1,.image2 {
  flex-basis: 50%;
  max-width: 100%;
}
.image2 {
  height: 304.47316800000004px;
  width: 366.418944px;
}
.text {
  align-self: flex-end;
  height: 43.995312000000006px;
  width: 163.881216px;
}
@media(max-width: 640px) {
  .image,.container1 {
    flex-basis: auto;
    max-width: 100%;
  }
  .container1 {
    align-items: center;
    flex-direction: column;
  }
  .image1,.image2 {
    flex-basis: auto;
    max-width: 100%;
  }
}
