.root {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 1512px;
  height: 725px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 1);
}
.container,.image {
  flex-grow: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  border-color: transparent;
}
.image {
  top: 206px;
  left: 456px;
  width: 600px;
  height: 519px;
  position: absolute;
  object-fit: cover;
}
.container01 {
  top: 60px;
  left: 577px;
  width: 358px;
  position: absolute;
}
.container01,.container02 {
  display: flex;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.container02 {
  margin: 0 0 18px 0;
  position: relative;
}
.text {
  margin: 0 0 4px 0;
  font-size: 56px;
}
.text,.text1 {
  color: rgba(238, 238, 238, 1);
  height: auto;
  flex-grow: 0;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text1 {
  font-size: 26px;
}
.text2 {
  color: rgba(134, 134, 139, 1);
  height: auto;
  margin: 0 0 18px 0;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container03 {
  align-items: flex-start;
}
.container03,.container04 {
  display: flex;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  flex-shrink: 1;
  border-color: transparent;
}
.container04 {
  margin: 0 42px 0 0;
  align-items: center;
}
.text3 {
  color: rgba(41, 151, 255, 1);
  width: 106px;
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container05 {
  position: relative;
  flex-shrink: 0;
}
.container05,.container06 {
  width: 16px;
  height: 16px;
  display: flex;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.container06 {
  flex-shrink: 1;
}
.container06,.image1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.image1 {
  width: 16px;
  height: 16px;
  object-fit: cover;
  flex-shrink: 0;
}
.image1,.container07 {
  flex-grow: 0;
  box-sizing: border-box;
  border-color: transparent;
}
.container07 {
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
}
.text4 {
  color: rgba(41, 151, 255, 1);
  width: 91px;
  height: auto;
  flex-grow: 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container08 {
  position: relative;
  flex-shrink: 0;
}
.container08,.container09 {
  width: 16px;
  height: 16px;
  display: flex;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.container09 {
  flex-shrink: 1;
}
.container09,.image2 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.image2 {
  width: 16px;
  height: 16px;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}
@media(max-width: 480px) {
  .root {
    height: unset;
    display: flex;
    align-self: stretch;
    min-height: 100vh;
  }
  .container {
    height: 200px;
  }
}
@media(max-width: 479px) {
  .root {
    height: unset;
    display: flex;
    align-self: stretch;
    min-height: 100vh;
  }
}
