.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 285px;
  min-height: 200px;
  min-width: 500px;
  position: relative;
  width: 788px;
}
.container2 {
  display: flex;
  min-height: 100%;
  parent-id: 3e-nbX1GWZrmeCjyiRoIS;
}
.text {
  height: fit-content;
  min-width: 100px;
}
.container3 {
  display: flex;
  flex-direction: column;
  width: 306px;
}
.image {
  background-color: rgb(217, 217, 217);
  height: 190px;
  width: 275px;
}
.text1 {
  height: 40px;
  width: 265px;
}
.text1,.richtext {
  margin: 0px;
  padding: 0px;
}
.richtext {
  height: fit-content;
  min-width: 100px;
}
