.button-default {
  background-color: #eeeeee;
  border-color: #a0a0a0;
  border-radius: 3px;
  border-width: 1px;
  font-size: 0.8em;
  height: fit-content;
  min-height: 24px;
  min-width: 130px;
  padding: 10px 35px;
}

.button-default,.image-hello-hi {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-hello-hi {
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  font-style: normal;
  font-weight: bold;
  height: 146.24647199999998px;
  max-width: 100%;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
  width: 896.380992px;
}
.paragraph-default {
  height: fit-content;
}

.paragraph-default,.paragraph-new-style {
  font-family: Arial;
  font-size: 14px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}

.paragraph-new-style {
  align-self: flex-start;
  height: 56.25345216px;
  max-width: 100%;
  width: 185.0909436px;
}
.root-new-style {
  height: auto;
  width: 100%;
}
.root-new-style,.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container,.container1 {
  justify-content: space-between;
  max-width: 100%;
}
.container1 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.container2 {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 33%;
}
.text {
  align-self: flex-start;
  height: 56.25345216px;
  width: 185.0909436px;
}
.text,.text1 {
  max-width: 100%;
}
.text1 {
  height: 81px;
  width: 223px;
}
.container3 {
  flex-basis: 33%;
  max-width: 33%;
}
.container3,.container4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container4,.text2 {
  max-width: 100%;
}
.text2 {
  height: 58.3389446px;
  width: 224.63405999999992px;
}
.text3 {
  height: 93px;
  max-width: 100%;
  width: 240px;
}
.container5 {
  flex-basis: 33%;
  max-width: 33%;
}
.container5,.container6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container6,.text4 {
  max-width: 100%;
}
.text4 {
  height: 48.1029028px;
  width: 213.471828px;
}
.text5 {
  height: 88px;
  max-width: 100%;
  width: 266px;
}
.container7 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.button1 {
  height: 92px;
  width: 277.49116799999996px;
}
.button1,.button2 {
  flex-basis: 33%;
  max-width: 100%;
}
.button2 {
  height: 94.22962399999999px;
  width: 236.58753600000009px;
}
@media(max-width: 1024px) {
  .text1 {
    height: 80px;
    width: 223px;
  }
  .text3 {
    height: 92px;
    width: 240px;
  }
  .text4 {
    height: auto;
    width: auto;
  }
  .text5 {
    height: 87px;
    width: 265px;
  }
  .button1 {
    border-width: 52px;
    height: 93px;
  }
  .button2 {
    border-width: 21px 11px 1px 1px;
  }
}
@media(max-width: 640px) {
  .container1 {
    align-items: center;
    flex-direction: column;
  }
  .container1,.container2,.text,.text1,.container3,.container4,.text2,.text3,.container5,.container6,.text4,.text5,.container7 {
    flex-basis: auto;
    max-width: 100%;
  }
  .container7 {
    align-items: center;
    flex-direction: column;
  }
  .button1,.button2 {
    flex-basis: auto;
    max-width: 100%;
  }
}
