.button-default {
  background: #d9d9d9;
  width: 100px;
  border: 1px solid #666666;
  height: 75px;
  display: flex;
  font-size: 0.8em;
  min-width: 30px;
  max-height: 100%;
  align-items: center;
  border-color: rgba(210, 69, 69, 1);
  border-width: 1px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  -webkit-user-drag: none;
}

.link-default {
  background: #FFFFFF00;
  border: 1px dashed rgb(187, 187, 187);
  display: flex;
  overflow: hidden;
  font-size: 0.8em;
  min-width: 30px;
  align-self: flex-start;
  max-height: 100%;
  min-height: 75px;
  align-items: left;
  padding-left: 5px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  -webkit-user-drag: none;
}

.paragraph-default {
  font: 0.8em Arial;
  background: rgba(255, 255, 255, 1);
  margin: 20px 10px;
  color: rgba(70, 70, 70, 255);
  overflow: hidden;
  max-height: 100px;
  border-style: solid;
}

.container-default {
  display: flex;
}

.image-default {
  background: #d9d9d9;
  width: 100px;
  border: 1px solid #666666;
  height: 75px;
  display: flex;
  overflow: hidden;
  min-width: 30px;
  max-height: 100%;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  width: 469.71935999999994px;
  height: 453.62884459124683px;
  max-width: 100%;
  flex-basis: 50%;
}

.container1 {
  display: flex;
  max-width: 50%;
  flex-basis: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  width: 421.2275999999999px;
  height: 101.79997060280759px;
  font-size: 2em;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
}

.text1 {
  width: 369.03959999999984px;
  height: 110.04463848059453px;
  max-width: 100%;
}

.link {
  top: 173.5px;
  left: 769.5px;
  height: 28px;
  position: absolute;
}

.button {
  background: rgba(74, 144, 226, 1);
  width: 378.6035999999999px;
  height: 113.25519933938892px;
  max-width: 100%;
}

@media (max-width: 640px) {
  .container {
    align-items: center;
    flex-direction: column;
  }

  .image {
    max-width: 100%;
    flex-basis: auto;
  }

  .container1 {
    max-width: 100%;
    flex-basis: auto;
  }

  .text {
    max-width: 100%;
    flex-basis: auto;
  }

  .text1 {
    max-width: 100%;
    flex-basis: auto;
  }

  .button {
    max-width: 100%;
    flex-basis: auto;
  }
}