.list-default {
  align-items: left;
  border-radius: 3px;
  color: rgba(12, 12, 12, 1);
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  max-height: 100%;
  min-height: 25px;
  min-width: 135px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-user-drag: none;
}
.list-default,.image-default {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.image-default {
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  font-style: normal;
  font-weight: bold;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
}
.image-default,.main {
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  height: fit-content;
  min-height: 200px;
  min-width: 500px;
  padding: 5px;
  position: relative;
  width: 100%;
}
.container1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
