.paragraph-default {
  background-color: rgba(255, 255, 255, 1);
  border-style: solid;
  color: rgba(70, 70, 70, 255);
  font-family: Arial;
  font-size: 0.8em;
  margin: 20px 10px;
  max-height: 100px;
  overflow: hidden;
}
.container-default {
  display: flex;
}
.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border: 1px solid #666666;
  border-radius: 3px;
  height: 75px;
  justify-content: center;
  max-height: 100%;
  min-width: 30px;
  overflow: hidden;
  width: 100px;
}
.image-default,.container,.container1 {
  display: flex;
  flex-direction: column;
}
.container1 {
  align-items: center;
  height: 560.6618472px;
  justify-content: center;
  max-width: 100%;
  width: 1040.920128px;
}
.image {
  height: 146.24647199999998px;
  max-width: 100%;
  width: 896.380992px;
}
.container2 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.image1 {
  height: 298.56340800000004px;
  width: 405.9705600000001px;
}
.image1,.image2 {
  flex-basis: 50%;
  max-width: 100%;
}
.image2 {
  height: 304.47316800000004px;
  width: 366.418944px;
}
.text {
  align-self: flex-end;
  height: 43.995312000000006px;
  width: 163.881216px;
}
.container4 {
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  height: fit-content;
  min-height: 200px;
  min-width: 500px;
  position: relative;
  width: 100%;
}
.container6 {
  display: flex;
  min-height: 100%;
  parent-id: 16C1tfCLCSFBCqY9W2a9u;
}
.container7 {
  display: flex;
  flex-direction: column;
}
.image3 {
  background-color: rgb(217, 217, 217);
  height: 184px;
  width: 194px;
}
.richtext {
  min-width: 100px;
}
.richtext,.text1 {
  height: fit-content;
  margin: 0px;
  padding: 0px;
}
.text1 {
  width: 329px;
}
@media(max-width: 1024px) {
  .image3 {
    align-self: center;
    height: 182px;
    width: 193px;
  }
  .text1 {
    width: 330px;
  }
}
@media(max-width: 640px) {
  .image,.container2 {
    flex-basis: auto;
    max-width: 100%;
  }
  .container2 {
    align-items: center;
    flex-direction: column;
  }
  .image1,.image2 {
    flex-basis: auto;
    max-width: 100%;
  }
}
