.link-default {
  align-items: left;
  align-self: flex-start;
  background-color: #FFFFFF00;
  border: 1px dashed rgb(187, 187, 187);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  min-height: 75px;
  min-width: 30px;
  padding-left: 5px;
  -webkit-user-drag: none;
}
.link-default,.paragraph-default {
  font-size: 0.8em;
  overflow: hidden;
}
.paragraph-default {
  background-color: rgba(255, 255, 255, 1);
  border-style: solid;
  color: rgba(70, 70, 70, 255);
  font-family: Arial;
  margin: 20px 10px;
  max-height: 100px;
}
.container-default,.root {
  display: flex;
}
.root {
  flex-direction: row;
  height: 400px;
  width: 100%;
}
.container {
  height: 399px;
  width: 1271px;
}
.container,.container1 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}
.container1 {
  align-items: center;
  height: 100px;
  justify-content: center;
  width: 200px;
}
.text {
  margin: 0px;
  padding: 0px;
  width: 100px;
}
.text,.link {
  height: fit-content;
}
