.container {
  width: 1179px;
  height: 750px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.image {
  top: 0px;
  left: 720px;
  width: 720px;
  height: 750px;
  position: absolute;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}

@media (max-width: 1280px) {
  .container {
    width: 1180px;
  }
}