.link-link-style-2 {
  background: rgba(70, 70, 70, 255);
  color: rgba(0, 157, 218, 1);
  width: 265px;
  height: 24px;
  font-size: 30px;
  border-color: rgba(167, 2, 52, 255);
  border-width: 3px;
}

.root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.link {
  width: 270px;
  height: 75px;
}