.paragraph-default {
  overflow: hidden;
  font-size: 0.8em;
  min-width: 30px;
  -webkit-user-drag: none;
}

.image-default {
  background: #d9d9d9;
  width: 100px;
  height: 75px;
  display: flex;
  overflow: hidden;
  min-width: 30px;
  max-height: 100%;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
}

.container-default {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container {
  width: 1064.4253056px;
  height: 566.4000815999999px;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.container1 {
  display: flex;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 304.8771456px;
  height: 288.490896px;
  max-width: 100%;
}

.text {
  width: 229.24799999999993px;
  height: 77.31806399999995px;
  max-width: 100%;
}

.text1 {
  width: 174.72384px;
  height: 41.589936000000044px;
  max-width: 100%;
}

.container2 {
  display: flex;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image1 {
  width: 328px;
  height: 248px;
  max-width: 100%;
}

.text2 {
  width: 204.668928px;
  height: 77.044608px;
  max-width: 100%;
}

.text3 {
  width: 149.648256px;
  height: 41.781096000000005px;
  max-width: 100%;
}

.container3 {
  display: flex;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text4 {
  width: 197.849088px;
  height: 78.40475999999998px;
  max-width: 100%;
}

.container4 {
  display: flex;
  flex-direction: column;
}

.container5 {
  flex: 0 0 auto;
  width: 337px;
  height: 394px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.text5 {
  height: fit-content;
  margin: 0px;
  padding: 0px;
  min-width: 100px;
}

.richtext {
  height: fit-content;
  margin: 0px;
  padding: 0px;
  min-width: 100px;
}

.container6 {
  width: 100%;
  display: flex;
  min-width: 200px;
  min-height: 200px;
}

.text6 {
  width: 130.741632px;
  height: 30.164399999999986px;
  max-width: 100%;
}

@media (max-width: 1280px) {
  .image1 {
    width: 328px;
  }

  .container5 {
    width: 338px;
    height: 399px;
  }
}

@media (max-width: 640px) {
  .container {
    align-items: center;
    flex-direction: column;
  }

  .container1 {
    max-width: 100%;
    flex-basis: auto;
  }

  .image {
    max-width: 100%;
    flex-basis: auto;
  }

  .text {
    max-width: 100%;
    flex-basis: auto;
  }

  .text1 {
    max-width: 100%;
    flex-basis: auto;
  }

  .container2 {
    max-width: 100%;
    flex-basis: auto;
  }

  .image1 {
    width: 403px;
    height: 248px;
    max-width: 100%;
    flex-basis: auto;
  }

  .text2 {
    max-width: 100%;
    flex-basis: auto;
  }

  .text3 {
    max-width: 100%;
    flex-basis: auto;
  }

  .container3 {
    max-width: 100%;
    flex-basis: auto;
  }

  .text4 {
    max-width: 100%;
    flex-basis: auto;
  }

  .text6 {
    max-width: 100%;
    flex-basis: auto;
  }
}