.button-default {
  border: 1px solid rgba(210, 69, 69, 1);
  border-radius: 3px;
  font-size: 0.8em;
  -webkit-user-drag: none;
}
.button-default,.image-default {
  align-items: center;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  max-height: 100%;
  min-width: 30px;
  width: 100px;
}
.image-default {
  border: 3px solid orangered;
  border-radius: 3px;
  overflow: hidden;
}
.paragraph-default {
  background-color: rgba(255, 255, 255, 1);
  border-style: solid;
  color: rgba(70, 70, 70, 255);
  font-family: Arial;
  font-size: 0.8em;
  margin: 20px 10px;
  max-height: 100px;
  overflow: hidden;
}
.container-default {
  display: flex;
}
.container {
  align-items: center;
  flex-direction: column;
}
.container,.container01 {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.container01 {
  align-items: flex-start;
  flex-direction: row;
}
.container02,.container03 {
  display: flex;
  flex-direction: column;
}
.container03 {
  align-items: center;
  flex-basis: 33%;
  justify-content: space-between;
  max-width: 33%;
}
.text {
  align-self: flex-start;
  height: 56.25345216px;
  width: 254px;
}
.text,.image {
  max-width: 100%;
}
.image {
  height: 257px;
  width: 227px;
}
.text1 {
  height: 90.80363999999996px;
  width: 202px;
}
.text1,.button {
  max-width: 100%;
}
.button {
  border: 1px solid #666666;
  flex-basis: 33%;
  height: 80px;
  width: 266.30829px;
}
.container04 {
  display: flex;
  flex-direction: column;
}
.image1 {
  height: 258.646459px;
  max-width: 100%;
  width: 243.06033599999998px;
}
.container05 {
  flex-basis: 33%;
  max-width: 33%;
}
.container05,.container06 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container06,.text2 {
  max-width: 100%;
}
.text2 {
  height: 58.3389446px;
  width: 238px;
}
.text3 {
  height: 83.29531199999998px;
  max-width: 100%;
  width: 227.83698000000004px;
}
.button1 {
  flex-basis: 33%;
  height: 83px;
  max-width: 100%;
  width: 258px;
}
.image2 {
  height: 253.02140000000003px;
  max-width: 100%;
  width: 278.95312799999994px;
}
.container07 {
  flex-basis: 33%;
  max-width: 33%;
}
.container07,.container08 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container08,.text4 {
  max-width: 100%;
}
.text4 {
  height: 48.1029028px;
  width: 213.471828px;
}
.text5 {
  height: 89.311766px;
  max-width: 100%;
  width: 211.516596px;
}
.button2 {
  border: 1px solid #666666;
  flex-basis: 33%;
  height: 83px;
  max-width: 100%;
  width: 236.58753600000009px;
}
.container09 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}

@media(max-width: 1280px) {
  .text {
    width: 254px;
  }
  .image {
    height: 257px;
    width: 212px;
  }
  .text1 {
    width: 209px;
  }
  .text2 {
    width: 237px;
  }
}
@media(max-width: 640px) {
  .container01 {
    align-items: center;
    flex-direction: column;
  }
  .container01,.container03,.text,.image,.text1,.button,.image1,.container05,.container06,.text2,.text3,.button1 {
    flex-basis: auto;
    max-width: 100%;
  }
  .button1 {
    height: 77px;
  }
  .image2,.container07,.container08,.text4,.text5,.button2,.container09 {
    flex-basis: auto;
    max-width: 100%;
  }
  .container09 {
    align-items: center;
    flex-direction: column;
  }
}
