.dynamic-component-root {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  width: 100%;
}
.dynamic-component-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: 100px;
  width: 100%;
}
