.com1215350-paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.com1215350-component {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}
