.product-recommendation-button-default {
  background-color: #eeeeee;
  border-radius: 3px;
  font-size: 0.8em;
  height: fit-content;
  min-height: 24px;
  min-width: 130px;
  padding: 10px 35px;
}
.product-recommendation-button-default,.product-recommendation-image-default {
  align-items: center;
  border-color: #a0a0a0;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-recommendation-image-default {
  background-color: #d9d9d9;
  border-radius: 6px;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
}
.product-recommendation-paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.product-recommendation-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product-recommendation-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}
.product-recommendation-container1 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.product-recommendation-container2 {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 33%;
}
.product-recommendation-text {
  align-self: flex-start;
  height: 56.25345216px;
  max-width: 100%;
  width: 185.0909436px;
}
.product-recommendation-image {
  height: 263.658736px;
  max-width: 100%;
  width: 303.2061516px;
}
.product-recommendation-text1 {
  height: 90.80363999999996px;
  max-width: 100%;
  width: 226.8457488px;
}
.product-recommendation-container3 {
  flex-basis: 33%;
  max-width: 33%;
}
.product-recommendation-container3,.product-recommendation-container4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-recommendation-container4 {
  max-width: 100%;
}
.product-recommendation-text2 {
  height: 58.3389446px;
  max-width: 100%;
  width: 224.63405999999992px;
}
.product-recommendation-image1 {
  height: 253.02140000000003px;
  max-width: 100%;
  width: 278.95312799999994px;
}
.product-recommendation-text3 {
  height: 83.29531199999998px;
  max-width: 100%;
  width: 227.83698000000004px;
}
.product-recommendation-container5 {
  flex-basis: 33%;
  max-width: 33%;
}
.product-recommendation-container5,.product-recommendation-container6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-recommendation-container6 {
  max-width: 100%;
}
.product-recommendation-text4 {
  height: 48.1029028px;
  max-width: 100%;
  width: 213.471828px;
}
.product-recommendation-image2 {
  height: 258.646459px;
  max-width: 100%;
  width: 243.06033599999998px;
}
.product-recommendation-text5 {
  height: 89.311766px;
  max-width: 100%;
  width: 211.516596px;
}
.product-recommendation-container7 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.product-recommendation-button {
  flex-basis: 33%;
  height: 68.87368399999998px;
  max-width: 100%;
  width: 266.30829px;
}
.product-recommendation-button1 {
  flex-basis: 33%;
  height: 86.868708px;
  max-width: 100%;
  width: 277.49116799999996px;
}
.product-recommendation-button2 {
  flex-basis: 33%;
  height: 94.22962399999999px;
  max-width: 100%;
  width: 236.58753600000009px;
}
