:root {
  --size-large: 144px;
  --size-small: 48px;
  --radius-full: 9999px;
  --radius-none: 0px;
  --size-medium: 96px;
  --radius-large: 8px;
  --radius-small: 4px;
  --size-x-large: 192px;
  --size-x-small: 8px;
  --spacing-unit: 16px;
  --radius-medium: 6px;
  --size-xx-large: 288px;
  --radius-x-large: 12px;
  --radius-x-small: 2px;
  --size-max-width: 1440px;
  --spacing-half-unit: 8px;
  --spacing-six-units: 96px;
  --spacing-two-units: 32px;
  --spacing-five-units: 80px;
  --spacing-four-units: 64px;
  --spacing-three-units: 48px;
  --spacing-one-and-half-units: 24px;
}
html {
	display: block;
	view-transition-name: root;
	box-sizing: border-box;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(229, 231, 235);
	border-right-color: rgb(229, 231, 235);
	border-bottom-color: rgb(229, 231, 235);
	border-left-color: rgb(229, 231, 235);
	line-height: 1.5;
	scroll-behavior: smooth;
	tab-size: 4;
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-feature-settings: normal;
	font-variation-settings: normal;
	text-size-adjust: 100%;
}


.button-button {
  width: 350px;
  height: fit-content;
  display: flex;
  padding: 10px 35px;
  font-size: 0.8em;
  min-width: 130px;
  min-height: 24px;
  align-items: center;
  border-color: #a0a0a0;
  border-width: 1px;
  border-radius: 3px;
  flex-direction: column;
  text-transform: capitalize;
  justify-content: center;
  background-color: #eeeeee;
}
