@import url('test');
@import url('https://fonts.googleapis.com/css?family=SF+Pro+Text|ADLaM+Display');
:root {
  --size-wq: 550px;
  --color-jjkl: #6f6f75ff;
  --color-pppp: #566335ff;
  --radius-qwsx: 11px;
  --spacing-qqq: 14px;
  --color-qwerew: #a84343ff;
  --spacing-test: 33px;
  --color-default-name: #464646;
  --color-random-test-color: #3763b8ff;
}
.paragraph-default {
  color: rgba(255, 255, 255, 1);
  height: fit-content;
  overflow: hidden;
  font-size: 14px;
  min-width: 30px;
  font-family: Arial;
  background-color: rgba(144, 29, 29, 1);
  -webkit-user-drag: none;
}
.container-default {
  flex: 0 0 auto;
  color: #a0a0a0;
  width: auto;
  height: 200px;
  display: flex;
  padding: 10px;
  min-width: 300px;
  min-height: 200px;
  background-color: #ffffff;
}
